.col-lg-4 {
    order: 1 !important;
}
.col-lg-8 {
    order: 2 !important;
}
.pr-custom {
    padding-left: 10 !important; /* Default for small screens */
}


@media (min-width: 768px) {
    .pr-custom {
        padding-left: 60px !important;
    }
}

.static-user-image{
    width: 80px !important;
    height: 80px !important;
}

.static-author-image{
    width: 160px !important;
    height: 160px !important;
}

.replay-corner {
    position: absolute; /* Allows positioning relative to the comment box */
    left: 125px; /* Adjusts horizontal positioning */
    z-index: 10; /* Ensures it stays on top if overlapping happens */
    color: rgb(228, 132, 6) !important;
}



