{% load poll_extras %}
{% if user_basket.order_detail.exists %}
    <div class="col-xl-9 col-lg-12 col-md-12 col-12 order-2 order-xl-1 order-lg-2 order-md-2 order-sm-2">
        <div class="cart-area-main-wrapper">
            <div class="cart-top-area-note">
                {% if user_basket.get_total_amount > 150 %}
                <p><span></span> خرید شما بیشتر از 150 هزار تومان میباشد.بنا براین میتوانید از گزینه ارسال رایگان استفاده کنید</p>
                <div class="bottom-content-deals mt--10">
                    <div class="single-progress-area-incard">
                        <div class="progress">
                            <div class="progress-bar wow fadeInRight" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                {% else %}  
                <p>
                    <span> {{user_basket.get_free_transportation}}تومان</span> به سبد خرید اضافه کنید و ارسال رایگان دریافت کنید
                </p>
                <div class="bottom-content-deals mt--10">
                    <div class="single-progress-area-incard">
                        <div class="progress">
                            <div class="progress-bar wow fadeInRight" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="rts-cart-list-area">
            <div class="single-cart-area-list head">
                <div class="product-main">
                    <p>محصولات</p>
                </div>
                <div class="price">
                    <p>قیمت</p>
                </div>
                <div class="quantity">
                <p>تعداد</p>
                </div>
                <div class="subtotal">
                    <p>زیر مجموع</p>
                </div>
            </div>
            <!-- single product cart area -->
            {% for order in user_basket.order_detail.all %}
                <div class="single-cart-area-list main  item-parent">
                    <div class="product-main-cart">
                        <div class="close section-activation">
                            <!-- removing icon in mobile size is in very bad situation -->
                            <a onclick="orderDetail({{order.id}})">
                                <i class="fa-regular fa-x"></i>
                            </a>
                        </div>
                        <div class="thumbnail">
                            <img style="width:65px;height:65px;" src="{{order.product.image.url}}" alt="فروشگاه">
                        </div>
                        <div class="information">
                            <h6 class="title">{{order.product.title}}</h6>
                            <span>شناسه محصول: {{order.product.id}}</span>
                        </div>
                    </div>
                    <div class="price">
                        {% if order.product.price_with_discount %}
                            <p>{{order.product.price_with_discount|three_digits}} تومان</p>
                        {% else %}
                            <p>{{order.product.price|three_digits}} تومان</p>
                        {% endif %}
                    </div>
                    <div class="quantity">
                        <!-- user cant change count with keyboard!! input is for siplaying count -->
                        <div class="quantity-edit">
                            <input type="text" class="input" value="{{order.count}}">
                            <div class="button-wrapper-action">
                                <button class="button" onclick="changeOrderDetailCount({{order.id}},'decrease')"><i class="fa-regular fa-chevron-down"></i></button>
                                <button class="button plus" onclick="changeOrderDetailCount({{order.id}},'increase')">+<i class="fa-regular fa-chevron-up"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="subtotal">
                        <p>{{order.get_total_price|three_digits}} تومان</p>
                    </div>
                </div>
            {% endfor %}
            <!-- end single product cart area -->
            <div class="bottom-cupon-code-cart-area">
                <form action="#">
                    <input type="text" placeholder="کد تخفيف">
                    <button class="rts-btn btn-primary">اعمال کد</button>
                </form>
                <a onclick="orderDetail('all')" class="rts-btn btn-primary mr--50 cursor-pointer">همه را پاک کن</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-12 col-md-12 col-12 order-1 order-xl-2 order-lg-1 order-md-1 order-sm-1">
        <div class="cart-total-area-start-left">
            <h5 class="title">مجموع سبد خرید</h5>
            <div class="subtotal">
                <span>مجموع بدون هزینه ارسال</span>
                <h6 class="price">{{user_basket.get_total_amount|three_digits}} تومان</h6>
            </div>
            <div class="shipping">
                <span>هزينه ارسال</span>
                <ul>
                    {% if user_basket.get_total_amount > 150 %}
                    <li>
                        <input type="radio" id="f-option" name="selector" >
                        <label for="f-option">ارسال رایگان</label>
                        
                        <div class="check"></div>
                        </li>
                    {% else %}
                    <li>
                        <input type="radio" id="f-option" name="selector" disabled>
                        <label for="f-option">ارسال رایگان</label>
                        
                        <div class="check"></div>
                    </li>
                    {% endif %}
                    
                    <li>
                    <input type="radio" id="s-option" name="selector">
                    <label for="s-option">نرخ ثابت</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                        <p>گزینه های حمل و نقل در هنگام تسویه حساب به روز می شود</p>
                        <p class="bold">محاسبه حمل و نقل</p>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <div class="wrapper">
                    <span>جمع فرعی</span>
                    <h6 class="price">1100.00 تومان</h6>
                </div>
                <div class="button-area">
                    <button class="rts-btn btn-primary">به پرداخت ادامه دهید</button>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-xl-9 col-lg-12 col-md-12 col-12 order-2 order-xl-1 order-lg-2 order-md-2 order-sm-2">
        <div class="cart-area-main-wrapper">
            <div class="cart-top-area-note">
                <p><span>150 تومان</span> به سبد خرید اضافه کنید و ارسال رایگان دریافت کنید</p>
                <div class="bottom-content-deals mt--10">
                    <div class="single-progress-area-incard">
                        <div class="progress">
                            <div class="progress-bar wow fadeInRight" role="progressbar" style="width: 1%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rts-cart-list-area">
            <h2 class="text-center">سبد خرید شما خالی است</h2>
        </div>
    </div>
    <div class="col-xl-3 col-lg-12 col-md-12 col-12 order-1 order-xl-2 order-lg-1 order-md-1 order-sm-1">
        <div class="cart-total-area-start-left">
            <h5 class="title">مجموع سبد خرید</h5>
            <div class="subtotal">
                <span>مجموع بدون هزینه ارسال</span>
                <h6 class="price">1100. تومان</h6>
            </div>
            <div class="shipping">
                <span>هزينه ارسال</span>
                <ul>
                    <li>
                    <input type="radio" id="f-option" name="selector" disabled>
                    <label for="f-option">ارسال رایگان</label>
                    
                    <div class="check"></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="s-option" name="selector">
                    <label for="s-option">نرخ ثابت</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="t-option" name="selector">
                    <label for="t-option">وانت محلی</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                        <p>گزینه های حمل و نقل در هنگام تسویه حساب به روز می شود</p>
                        <p class="bold">محاسبه حمل و نقل</p>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <div class="wrapper">
                    <span>جمع فرعی</span>
                    <h6 class="price">1100.00 تومان</h6>
                </div>
                <div class="button-area">
                    <button class="rts-btn btn-primary">به پرداخت ادامه دهید</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}