{% extends "base.html" %}
{% load static %}
 

{% block header_references %}
    <link rel="stylesheet" href="{% static "account_module/css/account_custom.css" %}">
{% endblock header_references %}

{% block content %}
    <div class="rts-navigation-area-breadcrumb bg_light-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navigator-breadcrumb-wrapper">
                        <a href="{% url "home_module:home-page" %}">صفحه اصلی</a>
                        <i class="fa-regular fa-chevron-left"></i>
                        <a class="current" href="{% url "account_module:user-register" %}">ثبت نام</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-seperator bg_light-1">
        <div class="container">
            <hr class="section-seperator">
        </div>
    </div>  

    <!-- rts register area start -->
    <div class="rts-register-area rts-section-gap bg_light-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="registration-wrapper-1">
                        <div class="logo-area mb--0">
                            <img class="mb--10" src="/static/assets/images/logo/khooshe.png" alt="لوگو">
                        </div>
                        <h3 class="gulzar-regular">در خوشه ثبت نام کنید</h3>
                        <form action="" class="registration-form" method='post' novalidate>
                            {% csrf_token %}
                            <div class="input-wrapper errorlist">
                                <label for="name">شماره همراه*</label>
                                {{form.phone_number}}
                                {{form.phone_number.errors}}
                            </div>
                            <div class="input-wrapper errorlist">
                                <label for="email">پست الکترونیک</label>
                                {{form.email}}
                                {{form.email.errors}}
                            </div>
                            <div class="input-wrapper errorlist">
                                <label for="password">کلمه عبور*</label>
                                {{form.password}}
                                {{form.password.errors}}
                            </div>

                            <div class="input-wrapper errorlist">
                                <label for="password">تکرار کلمه عبور*</label>
                                {{form.confirm_password}}
                                {{form.confirm_password.errors}}
                            </div>
                            <button class="rts-btn btn-primary">ثبت نام</button>
                            <div class="another-way-to-registration">
                                <p>از قبل حساب دارید؟ <a href="{% url "account_module:user-login" %}">وارد شدن</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts register area end -->
{% endblock content %}




