{% load render_partial %}

<!DOCTYPE html>
<html lang="fa">
    <head>
        {% include "includes/header_links.html" %}
        {% block header_references %}{% endblock header_references %}
    </head>
    <body class="shop-main-h">
        <!-- rts header area start -->
        <!-- rts header area start -->
        <div class="rts-header-one-area-one">
            {% render_partial 'home_module.views.header_component' %}
        </div>
        <!-- rts header area end -->

        <!-- rts header area start -->
        <!-- header style two -->
        <div id="side-bar" class="side-bar header-two">
            {% render_partial 'home_module.views.mobile_sidebar_component' %}
        </div>
        <!-- header style two End -->
        <!-- rts header area end -->
        <!-- rts header area end -->

        {% include "includes/messages.html" %}

        {% block content %}

        {% endblock content %}
        
        {% include "includes/services.html" %}
        
        <!-- rts footer one area start -->
        <div class="rts-footer-area pt--80 bg_light-1">
            {% render_partial "home_module.views.FooterComponent" %}
        </div>
        <!-- rts footer one area end -->

        <!-- rts copyright-area start -->
        <div class="rts-copyright-area">
            {% render_partial "home_module.views.copyright_component" %}
        </div>
        <!-- rts copyright-area end -->

        <!-- modal -->
        <!-- this is first pop up when page load-->
        {% comment %}
            <div id="myModal-1" class="modal fade" role="dialog">
                <div class="modal-dialog bg_image">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-bs-dismiss="modal"><i class="fa-light fa-x"></i></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="inner-content">
                                <div class="content">
                                    <span class="pre-title">در اولین خرید 150 تومانی خود تا 30 درصد تخفیف دریافت کنید</span>
                                    <h1 class="title">
                                        خانواده خود را با <br />
                                        بهترین قیمت تغذیه کنید
                                    </h1>
                                    <p class="disc">
                                        ما برای شما تخفیفات ویژه ای را در مورد محصولات غذایی آماده کرده ایم. این فرصت ها را از دست ندهید <br />
                                        ...
                                    </p>
                                    <div class="rts-btn-banner-area">
                                        <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                                            <div class="btn-text">
                                                اکنون فروشگاه
                                            </div>
                                            <div class="arrow-icon">
                                                <i class="fa-light fa-arrow-left"></i>
                                            </div>
                                            <div class="arrow-icon">
                                                <i class="fa-light fa-arrow-left"></i>
                                            </div>
                                        </a>
                                        <div class="price-area">
                                            <span>از</span>
                                            <h3 class="title animated fadeIn">80.99 تومان</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        {% endcomment %}
        <!-- end modal -->

        <!--================= Preloader Section Start Here =================-->
        <div id="weiboo-load">
            <div class="preloader-new">
                <svg class="cart_preloader" role="img" aria-label="انیمیشن خط سبد خرید_preloader" viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                        <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                            <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"></polyline>
                            <circle cx="43" cy="111" r="13"></circle>
                            <circle cx="102" cy="111" r="13"></circle>
                        </g>
                        <g class="cart__lines" stroke="currentColor">
                            <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" stroke-dasharray="338 338" stroke-dashoffset="-338"></polyline>
                            <g class="cart__wheel1" transform="rotate(-90,43,111)">
                                <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68"></circle>
                            </g>
                            <g class="cart__wheel2" transform="rotate(90,102,111)">
                                <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68"></circle>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <!--================= Preloader End Here =================-->

        <!--mobile search form-->
        <form action="{% url "product_module:products" %}" class="search-header" novalidate> 
            <div class="search-input-area">
                <div class="container">
                    <div class="search-input-inner">
                        <div class="input-div">
                                <input type="text" name="product-search" placeholder=" دنبال چه محصولی هستی؟" />
                                <button><i class="far fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
            </div>
        </form>
        <!--end mobile search form-->
        
        <div id="anywhere-home" class="anywere"></div>
        
        <!-- progress area start -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
            </svg>
        </div>
        <!-- progress area end -->

        {% include "includes/footer_links.html" %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let cartIcon = document.querySelector(".fa-cart-shopping");
                if (cartIcon) {
                    let basketCount = cartIcon.getAttribute("data-basket-count") || "0";
                    cartIcon.style.setProperty("--basket-count", `"${basketCount}"`);
                }
            });
        </script>
        
        {% block footer_references %}{% endblock footer_references %}
    </body>
</html>
