<button class="close-icon-menu"><i class="far fa-times"></i></button>

<form action="{% url "product_module:products" %}" class="search-input-area-menu mt--30" novalidate >
    <input type="text" name="product-search" placeholder=" جستجو" />
    <button><i class="fa-light fa-magnifying-glass"></i></button>
</form>

<div class="mobile-menu-nav-area tab-nav-btn mt--20">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">منو</button>
            {% comment %} <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">دسته بندی</button> {% endcomment %}
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <!-- mobile menu area start -->
            <div class="mobile-menu-main">
                <nav class="nav-main mainmenu-nav mt--30">
                    <ul class="mainmenu metismenu" id="mobile-menu-active">
                        <li>
                            <a href="{% url "home_module:home-page" %}" class="main">صفحه اصلی</a>
                        </li>
                        <li>
                            <a href="{% url "about_us_module:about-us" %}" class="main">درباره ما</a>
                        </li>
                        <li>
                            <a href="{% url "contact_module:contact-us" %}" class="main">تماس با ما</a>
                        </li>
                        <li>
                            <a href="{% url "blog_module:articles" %}" class="main">مقالات</a>
                        </li>
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                            <li>
                                <a href="/admin" class="main">ادمین</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- mobile menu area end -->
        </div>
        {% comment %} <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="category-btn category-hover-header menu-category">
                <ul class="category-sub-menu" id="category-active-menu">
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/01.svg" alt="نمادها" />
                            <span>صبحانه و لبنیات</span>
                            <i class="fa-regular fa-plus"></i>
                        </a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                            <li><a class="mobile-menu-link" href="#">شام</a></li>
                            <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/02.svg" alt="نمادها" />
                            <span>گوشت و غذاهای دریایی</span>
                            <i class="fa-regular fa-plus"></i>
                        </a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                            <li><a class="mobile-menu-link" href="#">شام</a></li>
                            <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/03.svg" alt="نمادها" />
                            <span>نان و نانوایی</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/04.svg" alt="نمادها" />
                            <span>چیپس و اسنک</span>
                            <i class="fa-regular fa-plus"></i>
                        </a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                            <li><a class="mobile-menu-link" href="#">شام</a></li>
                            <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/05.svg" alt="نمادها" />
                            <span>مراقبت های پزشکی</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/06.svg" alt="نمادها" />
                            <span>نان و نانوایی</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/07.svg" alt="نمادها" />
                            <span>بیسکویت و تنقلات</span>
                            <i class="fa-regular fa-plus"></i>
                        </a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                            <li><a class="mobile-menu-link" href="#">شام</a></li>
                            <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/08.svg" alt="نمادها" />
                            <span>غذای یخ زده</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/09.svg" alt="نمادها" />
                            <span>مواد غذایی و منگنه</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="menu-item">
                            <img src="/static/assets/images/icons/10.svg" alt="نمادها" />
                            <span>سایر موارد</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> {% endcomment %}
    </div>
</div>

<!-- button area wrapper start -->
<div class="button-area-main-wrapper-menuy-sidebar mt--50">
    <div class="contact-area">
        {% if site_setting.phone %}
            <div class="phone">
                <i class="fa-light fa-headset"></i>
                <a href="">{{site_setting.phone}}</a>
            </div>
        {% endif %}
        {% if site_setting.email %}
        <div class="phone">
            <i class="fa-light fa-envelope"></i>
            <a href="">{{site_setting.email}}</a>
        </div>
        {% endif %}

    </div>
    <div class="buton-area-bottom">
        {% if request.user.is_authenticated %}
            <a href="{% url "account_module:user-logout" %}" class="rts-btn btn-primary">خروج</a>
        {% else %}
            <a href="{% url "account_module:user-register" %}" class="rts-btn btn-primary">ثبت نام</a>
            <a href="{% url "account_module:user-login" %}" class="rts-btn btn-primary">ورود</a>
        {% endif %}
    </div>
</div>
<!-- button area wrapper end -->
