.cursor-pointer{
    cursor: pointer;
}

.rts-btn{
    background-color: rgb(184, 92, 6) !important;
    color: azure !important;
}
.favorite-heart {
    color: rgb(152, 11, 11) !important;
    font-weight: bold;
}
.slider-image {
    width: 100%; /* Adjust to fit the container's width */
    height: 400px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensures the image scales proportionally and fills the space */
    object-position: center; /* Centers the image within the container */
}
