.cursor-pointer{
    cursor: pointer;
}

.rts-btn{
    background-color: rgb(184, 92, 6) !important;
    color: azure !important;
}
.favorite-heart {
    color: rgb(152, 11, 11) !important;
    font-weight: bold;
}
.slider-image {
    width: 100%; /* Adjust to fit the container's width */
    height: 400px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensures the image scales proportionally and fills the space */
    object-position: center; /* Centers the image within the container */
}

/* Title (text) inside the card */
.card-text {
  height: 40px; /* Reserve space for up to 2 lines of text */
  line-height: 20px; /* Match line height to text size */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for truncated text */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical; /* Required for line-clamp */
}
