.cursor-pointer{
    cursor: pointer;
}

.rts-btn{
    background-color: rgb(184, 92, 6) !important;
    color: azure !important;
}
.favorite-heart {
    color: red !important;
    font-weight: bold;
}