<meta charset="UTF-8">
<meta name="description" content="Ekomart-Grocery-Store(e-Commerce) HTML Template: A sleek, responsive, and user-friendly HTML template designed for online grocery stores.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Grocery, Store, stores">
<title>خوشه</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/fav.png">
<!-- plugins css -->
<link rel="stylesheet preload" href="/static/assets/css/plugins.css" as="style">
<link rel="stylesheet preload" href="/static/assets/css/style.css" as="style">