{% load poll_extras %}


<!-- modal -->
    <div class="product-details-popup-wrapper">
        <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
            <div class="product-details-popup">
                <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
                <div class="details-product-area">
                    <div class="product-thumb-area">
                        <div class="cursor"></div>
                        <div class="thumb-wrapper one filterd-items figure">
                            <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url();">
                                <img src="" alt="" />
                            </div>
                        </div>
                        {% comment %} <div class="product-thumb-filter-group">
                            <div class="thumb-filter filter-btn active" data-show=".one"><img src="" alt="" /></div>
                        </div> {% endcomment %}
                    </div>
                    <div class="contents">
                        <div class="product-status">
                            <div class="rating-stars-group">
                                <div class="rating-star"><i class="fas fa-star"></i></div>
                                <span>10 بررسی</span>
                            </div>
                        </div>
                        <h2 class="product-title"> <span class="stock"></span></h2>
                        <span class="product-price">
                            <span class="old-price">9.35</span> 
                            7.25 تومان</span>
                        <p>
                            
                        </p>
                        <div class="product-bottom-action">
                            <div class="cart-edit">
                                <div class="quantity-edit action-item">
                                    <button class="button"><i class="fal fa-minus minus"></i></button>
                                    <input id="modalProductCount" type="text" min="1" class="input" value="1"/>
                                    <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                                </div>
                            </div>
                            <a onclick="addModalProductToBasket()" class="rts-btn radious-sm with-icon cursor-pointer add-to-basket-btn">
                                <div class="btn-text">
                                    اضافه کردن
                                </div>
                                <div class="arrow-icon">
                                    <i class="fa-regular fa-cart-shopping"></i>
                                </div>
                            </a>
                            {% comment %} <a href="javascript:void(0);" class="rts-btn btn-primary ml--20"><i class="fa-light fa-heart"></i></a> {% endcomment %}
                        </div>
                        <div class="product-uniques">
                            <span class="sku product-unipue mb--10"><span class="product-id" style="font-weight: 400; margin-left: 10px;">شناسه محصول:</span> </span>
                            <span class="sku product-unipue mb--10"><span class="product-weight" style="font-weight: 400; margin-left: 10px;">وزن محصول:</span> </span>
                            <span class="sku product-unipue mb--10"><span class="stock">موجودی</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end modal -->