<!-- modal -->
    <div class="product-details-popup-wrapper">
        <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
            <div class="product-details-popup">
                <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
                <div class="details-product-area">
                    <div class="product-thumb-area">
                        <div class="cursor"></div>
                        <div class="thumb-wrapper one filterd-items figure">
                            <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url();">
                                <img src="" alt="محصول-شست" />
                            </div>
                        </div>
                        {% comment %} <div class="product-thumb-filter-group">
                            <div class="thumb-filter filter-btn active" data-show=".one"><img src="" alt="" /></div>
                        </div> {% endcomment %}
                    </div>
                    <div class="contents">
                        <div class="product-status">
                            <div class="rating-stars-group">
                                <div class="rating-star"><i class="fas fa-star"></i></div>
                                <div class="rating-star"><i class="fas fa-star"></i></div>
                                <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                                <span>10 بررسی</span>
                            </div>
                        </div>
                        <h2 class="product-title"> <span class="stock"></span></h2>
                        <span class="product-price">
                            <span class="old-price">9.35</span> 
                            7.25 تومان</span>
                        <p>
                            
                        </p>
                        <div class="product-bottom-action">
                            <div class="cart-edit">
                                <div class="quantity-edit action-item">
                                    <button class="button"><i class="fal fa-minus minus"></i></button>
                                    <input type="text" class="input" value="01" />
                                    <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                                </div>
                            </div>
                            <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                                <div class="btn-text">
                                    افزودن به سبد خرید
                                </div>
                                <div class="arrow-icon">
                                    <i class="fa-regular fa-cart-shopping"></i>
                                </div>
                                <div class="arrow-icon">
                                    <i class="fa-regular fa-cart-shopping"></i>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="rts-btn btn-primary ml--20"><i class="fa-light fa-heart"></i></a>
                        </div>
                        <div class="product-uniques">
                            <span class="sku product-unipue"><span>شناسه محصول:</span> BO1D0MX8SJ </span>
                            <span class="catagorys product-unipue"><span>دسته بندی ها:</span> تی شرت، تاپ، مردانه </span>
                            <span class="tags product-unipue"><span>برچسب ها:</span> مد، تی شرت، مردانه</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end modal -->