{% extends "base.html" %}
{% load poll_extras %}
{% load static %}

{% block title %}{% endblock title %}

{% block header_references %}
    <link rel="stylesheet" href="/static/order_module/css/custom_order_module.css" />
{% endblock header_references %}

{% block content %}


    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
    
    
        <form action="#" class="search-input-area-menu mt--30">
            <input type="text" placeholder="جستجو..." required="">
            <button><i class="fa-light fa-magnifying-glass"></i></button>
        </form>
    
        <div class="mobile-menu-nav-area tab-nav-btn mt--20">
    
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">منو</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">دسته بندی</button>
                </div>
              </nav>
    
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                    <!-- mobile menu area start -->
                    <div class="mobile-menu-main">
                        <nav class="nav-main mainmenu-nav mt--30">
                            <ul class="mainmenu metismenu" id="mobile-menu-active">
                                <li class="has-droupdown">
                                    <a href="#" class="main">صفحه اصلی</a>
                                    <ul class="submenu mm-collapse">
                                        <li><a class="mobile-menu-link" href="index.html">صفحه اصلی یک</a></li>
                                        <li><a class="mobile-menu-link" href="index-two.html">صفحه اصلي دو</a></li>
                                        <li><a class="mobile-menu-link" href="index-three.html">صفحه اصلی سه</a></li>
                                        <li><a class="mobile-menu-link" href="index-four.html">صفحه اصلی چهار</a></li>
                                        <li><a class="mobile-menu-link" href="index-five.html">صفحه اصلی پنج</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="about.html" class="main">درباره</a>
                                </li>
                                <li class="has-droupdown">
                                    <a href="#" class="main">صفحات</a>
                                    <ul class="submenu mm-collapse">
                                        <li><a class="mobile-menu-link" href="about.html">درباره</a></li>
                                        <li><a class="mobile-menu-link" href="faq.html">سوالات متداول</a></li>
                                        <li><a class="mobile-menu-link" href="invoice.html">صورتحساب</a></li>
                                        <li><a class="mobile-menu-link" href="contact.html">تماس</a></li>
                                        <li><a class="mobile-menu-link" href="register.html">ثبت نام</a></li>
                                        <li><a class="mobile-menu-link" href="login.html">وارد شدن</a></li>
                                        <li><a class="mobile-menu-link" href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                                        <li><a class="mobile-menu-link" href="cookies-policy.html">خط مشی کوکی ها</a></li>
                                        <li><a class="mobile-menu-link" href="terms-condition.html">شرایط شرایط</a></li>
                                        <li><a class="mobile-menu-link" href="404.html">صفحه خطا</a></li>
                                    </ul>
                                </li>
                                <li class="has-droupdown">
                                    <a href="#" class="main">فروشگاه</a>
                                    <ul class="submenu mm-collapse">
                                        <li class="has-droupdown third-lvl">
                                            <a class="main" href="#">چیدمان فروشگاه</a>
                                            <ul class="submenu-third-lvl mm-collapse">
                                                <li><a href="shop-grid-sidebar.html"></a>فروشگاه گريد سايدبار</li>
                                                <li><a href="shop-list-sidebar.html"></a>فروشگاه ليست سايدبار</li>
                                                <li><a href="shop-grid-top-filter.html"></a>فروشگاه گريد فيلتر بالا</li>
                                                <li><a href="shop-list-top-filter.html"></a>فیلتر برتر لیست فروشگاه</li>
                                            </ul>
                                        </li>
                                        <li class="has-droupdown third-lvl">
                                            <a class="main" href="#">جزئیات فروشگاه</a>
                                            <ul class="submenu-third-lvl mm-collapse">
                                                <li><a href="shop-details.html"></a>جزئیات فروشگاه</li>
                                                <li><a href="shop-details-2.html"></a>جزئیات فروشگاه 2</li>
                                                <li><a href="shop-grid-top-filter.html"></a>فروشگاه گريد فيلتر بالا</li>
                                                <li><a href="shop-list-top-filter.html"></a>فیلتر برتر لیست فروشگاه</li>
                                            </ul>
                                        </li>
                                        <li class="has-droupdown third-lvl">
                                            <a class="main" href="#">مشخصات محصول</a>
                                            <ul class="submenu-third-lvl mm-collapse">
                                                <li><a href="shop-details-variable.html"></a>متغیر جزئیات فروشگاه</li>
                                                <li><a href="shop-details-affiliats.html"></a>جزئیات فروشگاه وابسته ها</li>
                                                <li><a href="shop-details-group.html"></a>گروه جزئیات فروشگاه</li>
                                                <li><a href="shop-compare.html"></a>مقايسه محصول</li>
                                            </ul>
                                        </li>
                                        <li class="has-droupdown third-lvl">
                                            <a class="main" href="#">خرید دیگران</a>
                                            <ul class="submenu-third-lvl mm-collapse">
                                                <li><a href="cart.html"></a>سبد خرید</li>
                                                <li><a href="checkout.html"></a>صورتحساب</li>
                                                <li><a href="trackorder.html"></a>پیگیری سفارش</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-droupdown">
                                    <a href="#" class="main">وبلاگ</a>
                                    <ul class="submenu mm-collapse">
                                        <li><a class="mobile-menu-link" href="blog.html">وبلاگ</a></li>
                                        <li><a class="mobile-menu-link" href="blog-list-right-sidebar.html">نوار سمت چپ وبلاگ</a></li>
                                        <li><a class="mobile-menu-link" href="blog-list-left-sidebar.html">وبلاگ سايدبار راست</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html" class="main">با ما تماس بگیرید</a>
                                </li>
                            </ul>
                        </nav>
    
                    </div>
                    <!-- mobile menu area end -->
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    <div class="category-btn category-hover-header menu-category">
                        <ul class="category-sub-menu" id="category-active-menu">
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/01.svg" alt="نمادها">
                                    <span>صبحانه و لبنیات</span>
                                    <i class="fa-regular fa-plus"></i>
                                </a>
                                <ul class="submenu mm-collapse">
                                    <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                    <li><a class="mobile-menu-link" href="#">شام</a></li>
                                    <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/02.svg" alt="نمادها">
                                    <span>گوشت و غذاهای دریایی</span>
                                    <i class="fa-regular fa-plus"></i>
                                </a>
                                <ul class="submenu mm-collapse">
                                    <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                    <li><a class="mobile-menu-link" href="#">شام</a></li>
                                    <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/03.svg" alt="نمادها">
                                    <span>نان و نانوایی</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/04.svg" alt="نمادها">
                                    <span>چیپس و اسنک</span>
                                    <i class="fa-regular fa-plus"></i>
                                </a>
                                <ul class="submenu mm-collapse">
                                    <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                    <li><a class="mobile-menu-link" href="#">شام</a></li>
                                    <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/05.svg" alt="نمادها">
                                    <span>مراقبت های پزشکی</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/06.svg" alt="نمادها">
                                    <span>نان و نانوایی</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/07.svg" alt="نمادها">
                                    <span>بیسکویت و تنقلات</span>
                                    <i class="fa-regular fa-plus"></i>
                                </a>
                                <ul class="submenu mm-collapse">
                                    <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                    <li><a class="mobile-menu-link" href="#">شام</a></li>
                                    <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/08.svg" alt="نمادها">
                                    <span>غذای یخ زده</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/09.svg" alt="نمادها">
                                    <span>مواد غذایی و منگنه</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">
                                    <img src="/static/assets/images/icons/10.svg" alt="نمادها">
                                    <span>سایر موارد</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
    
        <!-- button area wrapper start -->
         <div class="button-area-main-wrapper-menuy-sidebar mt--50">
            <div class="contact-area">
                <div class="phone">
                    <i class="fa-light fa-headset"></i>
                    <a href="#">02345697871</a>
                </div>
                <div class="phone">
                    <i class="fa-light fa-envelope"></i>
                    <a href="#">02345697871</a>
                </div>
            </div>
            <div class="buton-area-bottom">
                <a href="login.html" class="rts-btn btn-primary">ورود </a>
                <a href="register.html" class="rts-btn btn-primary">ثبت نام</a>
            </div>
         </div>
        <!-- button area wrapper end -->
    
    </div>
    <!-- header style two End -->
    
    <div class="rts-navigation-area-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navigator-breadcrumb-wrapper">
                        <a href="{% url "home_module:home-page" %}">صفحه اصلی</a>
                        <i class="fa-regular fa-chevron-left"></i>
                        <a href="{% url "order_module:order-basket" %}">سبد خرید</a>
                        <i class="fa-regular fa-chevron-left"></i>
                        <a class="current" href="index.html">صورتحساب</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section-seperator">
        <div class="container">
            <hr class="section-seperator">
        </div>
    </div>


    <div class="checkout-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr--40 pr_md--5 pr_sm--5 order-2 order-xl-1 order-lg-2 order-md-2 order-sm-2 mt_md--30 mt_sm--30">
                    <div class="rts-billing-details-area">
                        <h3 class="title">جزئیات صورتحساب</h3>
                        <form method="POST" action="{% url 'zarinpal_module:request' %}" id="checkout-form" novalidate>
                            {% csrf_token %}
                            <div class="half-input-wrapper">
                                <div class="single-input">
                                    <label for="f-name">نام کوچک*</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="single-input">
                                    <label for="l-name">نام خانوادگی*</label>
                                    {{ form.last_name }}
                                </div>
                            </div>

                            <div class="single-input">
                                <label for="phone">شماره تماس*</label>
                                {{ form.phone_number }}
                            </div>
                            
                            <div class="single-input">
                                <label for="email">آدرس ایمیل</label>
                                {{ form.email }}
                            </div>                            
                            <div class="single-input">
                                <label for="state">استان*</label>
                                {{ form.province }}
                            </div>
                            
                            <div class="single-input">
                                <label for="city">شهر/شهرستان*</label>
                                {{ form.city }}
                            </div>
                            
                            <div class="single-input">
                                <label for="street">آدرس خیابان*</label>
                                {{ form.main_address }}
                            </div>
                            
                            <div class="single-input">
                                <label for="zip">کد پستی*</label>
                                {{ form.zip_code }}
                            </div>
                            
                            <div class="single-input">
                                <label for="ordernotes">یادداشت های سفارش </label>
                                {{ form.about_order_text }}
                            </div>
                            <div>
                                {{form.errors}}
                            </div>

                            {% comment %} <button class="rts-btn btn-primary" id="pay-button" style="pointer-events: none; opacity: 0.5;">برو به صفحه پرداخت</button> {% endcomment %}
                            
                            <!-- Hidden Submit Button -->
                            <button type="submit" id="hidden-submit" style="display: none;"></button>

                        </form>
                        
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-xl-2 order-lg-1 order-md-1 order-sm-1">
                    <h3 class="title-checkout">سفارش شما</h3>
                    <div class="left-card-sidebar-checkout">
                        <div class="top-wrapper">
                            <div class="product">
                                محصولات
                            </div>
                            <div class="price">
                                قیمت مجموع
                            </div>
                        </div>
                        {% for order in order_basket.order_detail.all %}
                            <div class="single-shop-list">
                                <div class="right-area">
                                    <a class="thumbnail">
                                        <img src="{{order.product.image.url}}" alt="">
                                    </a>
                                    <a class="title">
                                        {{order.product.title|truncatechars:52}}
                                    </a>
                                </div>
                                <span class="price">{{order.get_total_price|three_digits}} </span>تومان
                            </div>
                        {% endfor %}
                        <div class="single-shop-list">
                            <div class="right-area">
                                <span>جمع فرعی</span>
                            </div>
                            <span class="price">{{order_basket.get_total_amount|three_digits}} تومان</span>
                        </div>
                        <div class="single-shop-list">
                            <div class="right-area">
                                <span>هزينه ارسال</span>
                            </div>
                            {% if order_basket.get_total_amount > need_for_free_transportation %}
                                <span class="price">رایگان</span>
                            {% else %}
                                <span class="price">{{transportation_rate}} تومان</span>
                            {% endif %}
                        </div>
                        <div class="single-shop-list">
                            <div class="right-area">
                                <span style="font-weight: 600; color: #2C3C28;">قیمت کل:</span>
                            </div>
                            <span class="price" style="color:rgb(206, 129, 5);">{{total|three_digits}} تومان</span>
                        </div>
                        <div class="cottom-cart-left-area">
                            <ul>
                                <li>
                                    <input type="radio" id="f-options" name="selector" checked>
                                        <label for="f-options">انتقال مستقیم بانکی</label>
                                    <div class="check"></div>
                                </li>
                            </ul>
                            <p class="disc mb--25">
                                پرداخت خود را مستقیماً به حساب بانکی ما انجام دهید. لطفا از شناسه سفارش خود به عنوان مرجع پرداخت استفاده کنید. سفارش شما تا زمانی که وجوه در حساب ما تسویه نشده باشد ارسال نخواهد شد.
                            </p>
                            <br>
                            <p class="mb--20">اطلاعات شخصی شما برای پردازش سفارش شما، پشتیبانی از تجربه شما در سراسر این وب سایت و برای اهداف دیگری که در خط مشی رازداری ما توضیح داده شده است، استفاده می شود.</p>
                            <div class="single-category mb--30">
                                <input id="terms-checkbox" type="checkbox">
                                <label for="terms-checkbox">شرایط و ضوابط را خوانده ام و موافقم *</label>
                            </div>
                            <a href="{% url "zarinpal_module:request" %}" class="rts-btn btn-primary" id="pay-button" style="pointer-events: none; opacity: 0.5;">برو به صفحه پرداخت</a>
                            <br>
                            <a href="{% url "order_module:order-basket" %}" class="rts-btn btn-primary">به روز رسانی سبد خرید</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block footer_references %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const termsCheckbox = document.getElementById("terms-checkbox");
            const payButton = document.getElementById("pay-button");
            const checkoutForm = document.getElementById("checkout-form");
            const hiddenSubmit = document.getElementById("hidden-submit");

            // Enable Pay Button When Terms are Accepted
            termsCheckbox.addEventListener("change", function () {
                if (this.checked) {
                    payButton.style.pointerEvents = "auto"; 
                    payButton.style.opacity = "1";
                } else {
                    payButton.style.pointerEvents = "none"; 
                    payButton.style.opacity = "0.5";
                }
            });

            // Handle Pay Button Click
            payButton.addEventListener("click", function (event) {
                event.preventDefault(); // Prevent default <a> behavior
                hiddenSubmit.click();
            });
        });
    </script>
    {% comment %} <script>
        document.addEventListener("DOMContentLoaded", function () {
            const termsCheckbox = document.getElementById("terms-checkbox");
            const payButton = document.getElementById("pay-button");

            termsCheckbox.addEventListener("change", function () {
                if (this.checked) {
                    payButton.style.pointerEvents = "auto";  // Enable click
                    payButton.style.opacity = "1";  // Full visibility
                } else {
                    payButton.style.pointerEvents = "none";  // Disable click
                    payButton.style.opacity = "0.5";  // Dim the button
                }
            });
        });
    </script> {% endcomment %}
{% endblock footer_references %}