.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.pagination a {
    color: #fff;
    background-color: #629D23;
    padding: 7px 15px;
    margin: 0 3px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination a:hover {
    background-color: #3b581c;
    transform: scale(1.05);
}

.pagination a.active {
    background-color: #38610c;
    font-weight: bold;
}

.pagination a.prev, .pagination a.next {
    font-weight: bold;
}

/* product detail image */
.product-thumb {
    width: 390px !important;
    height: 390px !important;
    position: relative !important;
    overflow: hidden !important;
}

.product-thumb img {
    width: 100% !important; /* Fill the container */
    height: 100% !important; /* Maintain consistent dimensions */
    object-fit: cover !important; /* Ensure no empty spaces */
    position: absolute !important; /* Align correctly */
    top: 0 !important;
    left: 0 !important;
    transition: transform 0.3s ease-in-out; /* Smooth zoom */
}

/* Zoom effect */
.product-thumb:hover img {
    transform: scale(1.2); /* Zoom but keep it inside the container */
}
/* end product detail image */


