/* product fast review modal style */
@media (max-width: 768px) {
    .rts-product-details-section.product-details-popup-section .product-details-popup {
      width: 92% !important;
      height: 90vh !important; /* Make it take most of the viewport */
      max-height: 90vh !important; /* Prevent overflow */
      overflow-y: auto !important; /* Enable scrolling when content is too long */
      margin-top: 50px !important; /* Adjust spacing */
    }
}


.product-details-popup {
    margin: 0 auto !important;
    max-height: 90vh !important; /* Allow dynamic height */
    overflow-y: auto !important; /* Enable scrolling */
    border-radius: 7px !important;
    background: #fff !important;
    padding: 30px !important;
    position: relative !important;
    z-index: 999 !important;
}


@media (min-width: 1024px) {
    .product-title {
      white-space: normal !important; /* Allow text to wrap */
      word-wrap: break-word !important;
      max-width: 98% !important; /* Prevent title from forcing modal width */
      text-align: right !important;
      margin: 0 auto !important; /* Keep it centered */
    }
  }
  
  
@media (min-width: 1024px) { 
    .product-details-popup-wrapper {
    max-width: 1000px !important; /* Adjust this size as needed */
    width: 90% !important;
    margin: auto; /* Centers the modal */
    }
}
/* end product fast review modal style */

/* .out-of-stock {
    color: red;
    font-weight: bold;
} */