.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.pagination a {
    color: #fff;
    background-color: #629D23;
    padding: 7px 15px;
    margin: 0 3px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination a:hover {
    background-color: #3b581c;
    transform: scale(1.05);
}

.pagination a.active {
    background-color: #38610c;
    font-weight: bold;
}

.pagination a.prev, .pagination a.next {
    font-weight: bold;
}

/* product detail image */
.product-thumb {
    width: 390px !important;
    height: 390px !important;
    position: relative !important;
    overflow: hidden !important;
}

.product-thumb img {
    width: 100% !important; /* Fill the container */
    height: 100% !important; /* Maintain consistent dimensions */
    object-fit: cover !important; /* Ensure no empty spaces */
    position: absolute !important; /* Align correctly */
    top: 0 !important;
    left: 0 !important;
    transition: transform 0.3s ease-in-out; /* Smooth zoom */
}

/* Zoom effect */
.product-thumb:hover img {
    transform: scale(1.2); /* Zoom but keep it inside the container */
}
/* end product detail image */

.price-style{
    color:rgb(128, 28, 2) !important;
    font-weight: 600 !important;
}

/* filter form style */
@media only screen and (min-width: 767px){
    .nice-select-area-wrapper-and-button .nice-select-wrapper-1 .single-select .nice-select {
        width: 270px !important;
    }
}

@media only screen and (max-width: 767px) {
    .filter-select-area,
    .nice-select-area-wrapper-and-button,
    .nice-select-wrapper-1,
    .single-select,
    #filter-form,
    .nice-select {
        width: 100% !important;  /* Make everything take full width */
        max-width: 100% !important; /* Prevent overflow */
    }

    .nice-select {
        height: 40px !important; /* Adjust height for better mobile appearance */
        font-size: 14px !important; /* Make text more readable */
        text-align: center !important; /* Center text inside select */
    }
}


.submit-review-area ul{
    display: inline;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
}


/* textarea {
    width: 100% !important;
    min-height: 150px !important;
    resize: vertical !important;
}

.submit-review-area textarea {
    width: 100% !important;
}
@media (max-width: 768px) {
    textarea {
        width: 100% !important;
        min-height: 200px !important;
    }
} */


/* @media only screen and (min-width: 767px){
    textarea {
        width: 100% !important;
        min-height: 150px !important;
        padding: 10px !important;
        font-size: 16px !important;
        border: 1px solid #ccc !important;
        border-radius: 5px !important;
        resize: vertical !important;
    }
} */