{% extends "base.html" %}
{% load static %}
{% load render_partial %}
{% load poll_extras %}
{% load thumbnail %}


{% block title %}{{article.title|truncatewords:5}}
{% endblock title %}

{% block header_references %}
    <link rel="stylesheet" href="{% static "blog_module/css/blog_custom.css" %}">
{% endblock header_references %}



{% block content %}

    <div class="rts-navigation-area-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navigator-breadcrumb-wrapper">
                        <a href="{% url "home_module:home-page" %}">صفحه اصلی</a>
                        <i class="fa-regular fa-chevron-left"></i>
                        <a class="current" href="{% url "blog_module:articles" %}">وبلاگ</a>
                        <i class="fa-regular fa-chevron-left"></i>
                        <a class="current" >{{article.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-seperator">
        <div class="container">
            <hr class="section-seperator">
        </div>
    </div>

    <!-- blog sidebar area start -->
    <div class="blog-sidebar-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-1 order-md-2 order-sm-2 order-2 pr-md--10 pr-sm--10 pr-custom">
                    <div class="blog-details-area-1">
                        <div class="thumbnail">
                            {% thumbnail article.image  "965x558" quality=100 crop="center" as im %}
                                <img src="{{im.url}}" alt="عکس پست بلاگ">
                            {% endthumbnail %}
                            
                        </div>
                        <div class="body-content-blog-details">
                            <div class="top-tag-time">
                                <div class="single">
                                    <i class="fa-solid fa-clock"></i>
                                    <span>{{article.created_date|jalal_date}}</span>
                                </div>
                            </div>
                            <h1 class="title">{{article.title}}</h1>
                            <p class="disc">{{article.text}}</p>
                            {% comment %} <p class="quote">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p> {% endcomment %}
                            
                            {% comment %} <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumbnail-row-iamge">
                                        <img src="/static/assets/images/blog/22.jpg" alt="">
                                        <img src="/static/assets/images/blog/23.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <p class="disc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p> {% endcomment %}
                            {% if article.author %}
                                <div class="blog-details-author">
                                    {% if article.author.image %}
                                        <div class="thumbnail">
                                            <img class="static-author-image" src="{{article.author.image.url}}" alt="عکس نویسنده">
                                        </div>
                                    {% else %}
                                        <div class="thumbnail">
                                            <img class="static-author-image" src="/static/assets/images/blog/user-profile-2.webp" alt="عکس نویسنده">
                                        </div>
                                    {% endif %}
                                    
                                    <div class="author-information">
                                        {% if article.author.first_name and article.author.last_name %}
                                        <span>
                                            نویسنده
                                        </span>
                                            <h5 class="title">{{article.author.first_name}} {{article.author.last_name}}</h5>
                                        {% endif %}
                                        {% if article.author.about_user %}
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="comment-replay-area-start">
                                {% include "blog_module/includes/article_comments.html" %}
                                <br>
                                {% if request.user.is_authenticated %}                                                        <!--new comment area-->
                                    <div class="contact-form-wrapper-1 mt--50" id='comment_form'>
                                        <h3 class="title mb--10 text-center">نظر خود را بنویسید</h3>
                                        <br>
                                        <form class="contact-form-1" id="form">
                                            <input type='hidden' value="" id='parentId'>
                                            <textarea name="message" name="text" id='text' placeholder="نظر خود را بنویسید"></textarea>
                                            <a class="rts-btn btn-primary mt--20 cursor-pointer" onclick=SendArticleComment({{article.id}})>ارسال</a>
                                        </form>
                                    </div>
                                    <!--end new comment area-->
                                    {% else %}
                                    <p class="text-center alert alert-warning">برای ثبت نظر خود ابتدا باید <a href="{% url "account_module:user-login" %}"> وارد حساب خود </a> شوید</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pr--30  pr_md--10 pr_sm--10 rts-sticky-column-item">
                    {%render_partial 'blog_module.views.article_component' %}
                </div>
            </div>
        </div>
    </div>
    <!-- blog sidebar area ends -->



{% endblock content %}

