{% extends "base.html" %}
{% load static %}

{% block header_references %}
    <link rel="stylesheet preload" href="{% static "assets/css/custom.css" %}" as="style">
{% endblock header_references %}

{% block title %}مقالات{% endblock title %}
{% block content %}

<!-- rts header area start -->
<!-- header style two -->
<div id="side-bar" class="side-bar header-two">
    <button class="close-icon-menu"><i class="far fa-times"></i></button>
    <form action="#" class="search-input-area-menu mt--30">
        <input type="text" placeholder="جستجو..." required="">
        <button><i class="fa-light fa-magnifying-glass"></i></button>
    </form>

    <div class="mobile-menu-nav-area tab-nav-btn mt--20">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">منو</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">دسته بندی</button>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <!-- mobile menu area start -->
                <div class="mobile-menu-main">
                    <nav class="nav-main mainmenu-nav mt--30">
                        <ul class="mainmenu metismenu" id="mobile-menu-active">
                            <li class="has-droupdown">
                                <a href="#" class="main">صفحه اصلی</a>
                                <ul class="submenu mm-collapse">
                                    <li><a class="mobile-menu-link" href="index.html">صفحه اصلی یک</a></li>
                                    <li><a class="mobile-menu-link" href="index-two.html">صفحه اصلي دو</a></li>
                                    <li><a class="mobile-menu-link" href="index-three.html">صفحه اصلی سه</a></li>
                                    <li><a class="mobile-menu-link" href="index-four.html">صفحه اصلی چهار</a></li>
                                    <li><a class="mobile-menu-link" href="index-five.html">صفحه اصلی پنج</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html" class="main">درباره</a>
                            </li>
                            <li class="has-droupdown">
                                <a href="#" class="main">صفحات</a>
                                <ul class="submenu mm-collapse">
                                    <li><a class="mobile-menu-link" href="about.html">درباره</a></li>
                                    <li><a class="mobile-menu-link" href="faq.html">سوالات متداول</a></li>
                                    <li><a class="mobile-menu-link" href="invoice.html">صورتحساب</a></li>
                                    <li><a class="mobile-menu-link" href="contact.html">تماس</a></li>
                                    <li><a class="mobile-menu-link" href="register.html">ثبت نام</a></li>
                                    <li><a class="mobile-menu-link" href="login.html">وارد شدن</a></li>
                                    <li><a class="mobile-menu-link" href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                                    <li><a class="mobile-menu-link" href="cookies-policy.html">خط مشی کوکی ها</a></li>
                                    <li><a class="mobile-menu-link" href="terms-condition.html">شرایط شرایط</a></li>
                                    <li><a class="mobile-menu-link" href="404.html">صفحه خطا</a></li>
                                </ul>
                            </li>
                            <li class="has-droupdown">
                                <a href="#" class="main">فروشگاه</a>
                                <ul class="submenu mm-collapse">
                                    <li class="has-droupdown third-lvl">
                                        <a class="main" href="#">چیدمان فروشگاه</a>
                                        <ul class="submenu-third-lvl mm-collapse">
                                            <li><a href="shop-grid-sidebar.html"></a>فروشگاه گريد سايدبار</li>
                                            <li><a href="shop-list-sidebar.html"></a>فروشگاه ليست سايدبار</li>
                                            <li><a href="shop-grid-top-filter.html"></a>فروشگاه گريد فيلتر بالا</li>
                                            <li><a href="shop-list-top-filter.html"></a>فیلتر برتر لیست فروشگاه</li>
                                        </ul>
                                    </li>
                                    <li class="has-droupdown third-lvl">
                                        <a class="main" href="#">جزئیات فروشگاه</a>
                                        <ul class="submenu-third-lvl mm-collapse">
                                            <li><a href="shop-details.html"></a>جزئیات فروشگاه</li>
                                            <li><a href="shop-details-2.html"></a>جزئیات فروشگاه 2</li>
                                            <li><a href="shop-grid-top-filter.html"></a>فروشگاه گريد فيلتر بالا</li>
                                            <li><a href="shop-list-top-filter.html"></a>فیلتر برتر لیست فروشگاه</li>
                                        </ul>
                                    </li>
                                    <li class="has-droupdown third-lvl">
                                        <a class="main" href="#">مشخصات محصول</a>
                                        <ul class="submenu-third-lvl mm-collapse">
                                            <li><a href="shop-details-variable.html"></a>متغیر جزئیات فروشگاه</li>
                                            <li><a href="shop-details-affiliats.html"></a>جزئیات فروشگاه وابسته ها</li>
                                            <li><a href="shop-details-group.html"></a>گروه جزئیات فروشگاه</li>
                                            <li><a href="shop-compare.html"></a>مقايسه محصول</li>
                                        </ul>
                                    </li>
                                    <li class="has-droupdown third-lvl">
                                        <a class="main" href="#">خرید دیگران</a>
                                        <ul class="submenu-third-lvl mm-collapse">
                                            <li><a href="cart.html"></a>سبد خرید</li>
                                            <li><a href="checkout.html"></a>صورتحساب</li>
                                            <li><a href="trackorder.html"></a>پیگیری سفارش</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-droupdown">
                                <a href="#" class="main">وبلاگ</a>
                                <ul class="submenu mm-collapse">
                                    <li><a class="mobile-menu-link" href="blog.html">وبلاگ</a></li>
                                    <li><a class="mobile-menu-link" href="blog-list-right-sidebar.html">نوار سمت چپ وبلاگ</a></li>
                                    <li><a class="mobile-menu-link" href="blog-list-left-sidebar.html">وبلاگ سايدبار راست</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html" class="main">با ما تماس بگیرید</a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <!-- mobile menu area end -->
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="category-btn category-hover-header menu-category">
                    <ul class="category-sub-menu" id="category-active-menu">
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/01.svg" alt="نمادها">
                                <span>صبحانه و لبنیات</span>
                                <i class="fa-regular fa-plus"></i>
                            </a>
                            <ul class="submenu mm-collapse">
                                <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                <li><a class="mobile-menu-link" href="#">شام</a></li>
                                <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/02.svg" alt="نمادها">
                                <span>گوشت و غذاهای دریایی</span>
                                <i class="fa-regular fa-plus"></i>
                            </a>
                            <ul class="submenu mm-collapse">
                                <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                <li><a class="mobile-menu-link" href="#">شام</a></li>
                                <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/03.svg" alt="نمادها">
                                <span>نان و نانوایی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/04.svg" alt="نمادها">
                                <span>چیپس و اسنک</span>
                                <i class="fa-regular fa-plus"></i>
                            </a>
                            <ul class="submenu mm-collapse">
                                <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                <li><a class="mobile-menu-link" href="#">شام</a></li>
                                <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/05.svg" alt="نمادها">
                                <span>مراقبت های پزشکی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/06.svg" alt="نمادها">
                                <span>نان و نانوایی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/07.svg" alt="نمادها">
                                <span>بیسکویت و تنقلات</span>
                                <i class="fa-regular fa-plus"></i>
                            </a>
                            <ul class="submenu mm-collapse">
                                <li><a class="mobile-menu-link" href="#">صبحانه</a></li>
                                <li><a class="mobile-menu-link" href="#">شام</a></li>
                                <li><a class="mobile-menu-link" href="#">پمپ کردن</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/08.svg" alt="نمادها">
                                <span>غذای یخ زده</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/09.svg" alt="نمادها">
                                <span>مواد غذایی و منگنه</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu-item">
                                <img src="/static/assets/images/icons/10.svg" alt="نمادها">
                                <span>سایر موارد</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </div>

    <!-- button area wrapper start -->
     <div class="button-area-main-wrapper-menuy-sidebar mt--50">
        <div class="contact-area">
            <div class="phone">
                <i class="fa-light fa-headset"></i>
                <a href="#">02345697871</a>
            </div>
            <div class="phone">
                <i class="fa-light fa-envelope"></i>
                <a href="#">02345697871</a>
            </div>
        </div>
        <div class="buton-area-bottom">
            <a href="login.html" class="rts-btn btn-primary">ورود </a>
            <a href="register.html" class="rts-btn btn-primary">ثبت نام</a>
        </div>
     </div>
    <!-- button area wrapper end -->

</div>
<!-- header style two End -->
<!-- rts header area end -->
    <!-- rts header area end -->
    <div class="rts-navigation-area-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navigator-breadcrumb-wrapper">
                        <a href="index.html">صفحه اصلی</a>
                        <i class="fa-regular fa-chevron-left"></i>
                        <a class="current" href="index.html">لیست وبلاگ با نوار کناری</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-seperator">
        <div class="container">
            <hr class="section-seperator">
        </div>
    </div>


    <!-- blog sidebar area start -->
    <div class="blog-sidebar-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pr--30  pr_md--10 pr_sm--10 rts-sticky-column-item">
                    <div class="theiaStickySidebar">
                        <div class="blog-sidebar-single-wized">
                            <form action="#">
                                <input type="text" placeholder="اینجا جستجو کنید" required="">
                                <button><i class="fa-regular fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                        <div class="blog-sidebar-single-wized with-title">
                            <h4 class="title">آخرین پست</h4>
                            <div class="latest-post-small-area-wrapper">
                                <!-- single latest post -->
                                <div class="single-latest-post-area">
                                    <a href="blog-details.html" class="thumbnail">
                                        <img src="/static/assets/images/blog/thumb/01.jpg" alt="بند انگشتی">
                                    </a>
                                    <div class="inner-content-area">
                                        <div class="icon-top-area">
                                            <i class="fa-light fa-clock"></i>
                                            <span>25 خرداد 1403</span>
                                        </div>
                                        <a href="blog-details.html">
                                            <h5 class="title-sm-blog">
                                                وعده&zwnj;های غذایی دلپذیر که با غذاهای اصلی ما تهیه می&zwnj;شوند
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                <!-- single latest post end -->
                                <!-- single latest post -->
                                <div class="single-latest-post-area">
                                    <a href="blog-details.html" class="thumbnail">
                                        <img src="/static/assets/images/blog/thumb/02.jpg" alt="بند انگشتی">
                                    </a>
                                    <div class="inner-content-area">
                                        <div class="icon-top-area">
                                            <i class="fa-light fa-clock"></i>
                                            <span>25 خرداد 1403</span>
                                        </div>
                                        <a href="blog-details.html">
                                            <h5 class="title-sm-blog">
                                                کاهش ردپای کربن شما با محصولات پایدار ما"
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                <!-- single latest post end -->
                                <!-- single latest post -->
                                <div class="single-latest-post-area">
                                    <a href="blog-details.html" class="thumbnail">
                                        <img src="/static/assets/images/blog/thumb/03.jpg" alt="بند انگشتی">
                                    </a>
                                    <div class="inner-content-area">
                                        <div class="icon-top-area">
                                            <i class="fa-light fa-clock"></i>
                                            <span>25 خرداد 1403</span>
                                        </div>
                                        <a href="blog-details.html">
                                            <h5 class="title-sm-blog">
                                                کشف طعم های جدید در راهروی غذاهای قومی ما
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                <!-- single latest post end -->
                            </div>
                        </div>
                        <div class="blog-sidebar-single-wized with-add bg_image">
                            <div class="add-are-content">
                                <span class="pre">تخفیف آخر هفته</span>
                                <h5 class="title"><span>طعم های گیاهی</span> 
                                    واقعی ارگانیک را کشف کنید<br>
                                    <span></span>
                                </h5>
                                <a href="#" class="shop-now-goshop-btn">
                                    <span class="text">اکنون فروشگاه</span>
                                    <div class="plus-icon">
                                        <i class="fa-sharp fa-regular fa-plus"></i>
                                    </div>
                                    <div class="plus-icon">
                                        <i class="fa-sharp fa-regular fa-plus"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% comment %} <div class="blog-sidebar-single-wized with-title">
                            <h4 class="title">دسته بندی ها</h4>
                            <div class="category-main-wrapper">
                                <!-- single category area start -->
                                <div class="single-category-area">
                                    <p>مواد پخت</p>
                                </div>
                                <!-- single category area end -->
                                <!-- single category area start -->
                                <div class="single-category-area">
                                    <p>نان و آبمیوه</p>
                                </div>
                                <!-- single category area end -->
                                <!-- single category area start -->
                                <div class="single-category-area">
                                    <p>لباس و زیبایی</p>
                                </div>
                                <!-- single category area end -->
                                <!-- single category area start -->
                                <div class="single-category-area">
                                    <p>سبزیجات تازه</p>
                                </div>
                                <!-- single category area end -->
                                <!-- single category area start -->
                                <div class="single-category-area">
                                    <p>غذای دریایی تازه</p>
                                </div>
                                <!-- single category area end -->
                                <!-- single category area start -->
                                <div class="single-category-area">
                                    <p>شیر و لبنیات</p>
                                </div>
                                <!-- single category area end -->
                                <!-- single category area start -->
                                <div class="single-category-area">
                                    <p>شراب و نوشیدنی</p>
                                </div>
                                <!-- single category area end -->
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="blog-sidebar-single-wized with-title">
                            <h4 class="title">برچسب ها</h4>
                            <div class="tags-area-blog-short-main">
                                <!-- single -->
                                <button class="single-category">شامپو</button>
                                <!-- single end -->
                                <!-- single -->
                                <button class="single-category">کره</button>
                                <!-- single end -->
                                <!-- single -->
                                <button class="single-category">روز تولد</button>
                                <!-- single end -->
                                <!-- single -->
                                <button class="single-category">هدایا</button>
                                <!-- single end -->
                                <!-- single -->
                                <button class="single-category">صورت</button>
                                <!-- single end -->
                                <!-- single -->
                                <button class="single-category">سبز</button>
                                <!-- single end -->
                                <!-- single -->
                                <button class="single-category">لوسیون</button>
                                <!-- single end -->
                                <!-- single -->
                                <button class="single-category">اسکراب</button>
                                <!-- single end -->
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="blog-sidebar-single-wized with-title">
                            <h4 class="title">پست های اینستاگرام</h4>
                            <div class="instagram-post-main-wrapper">
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/04.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/05.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/06.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/07.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/08.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/09.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/10.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                                <!-- single-instagram-post -->
                                <a href="#"><div class="single-instagram-post">
                                    <img src="/static/assets/images/blog/thumb/11.jpg" alt="پست">
                                </div></a>
                                <!-- single-instagram-post end -->
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single-blog-main-wrapper-top">

                        {% for article in articles %}
                            <div class="single-blog-style-card-border mb--40">
                                <a href="{% url "blog_module:article-detail" pk=article.pk slug=article.slug %}" class="thumbnail">
                                    <img src="{{article.image.url}}" alt="عکس مقاله">
                                </a>
                                <div class="inner-content-body">
                                    <div class="tag-area">
                                        <div class="single">
                                            <i class="fa-light fa-clock"></i>
                                            <span>{{article.created_date}}</span>
                                        </div>
                                        {% comment %} <div class="single">
                                            <i class="fa-light fa-folder"></i>
                                            <span>tag</span>
                                        </div> {% endcomment %}
                                    </div>
                                    <a class="title-main" href="blog-details.html">
                                        <h3 class="title">
                                            {{article.title}}
                                        </h3>
                                    </a>
                                    <p class="disc mb--20">{{article.short_description}}</p>
                                    <div class="button-area">
                                        <a href="{% url "blog_module:article-detail" pk=article.pk slug=article.slug %}" class="rts-btn btn-primary radious-sm with-icon">
                                            <div class="btn-text">
                                            جزئیات را بخوانید
                                            </div>
                                            <div class="arrow-icon">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </div>
                                            <div class="arrow-icon">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt--50">
            <div class="col-lg-12 ">
                <div class="pagination-area-main-wrappper article-pagination">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{page_obj.previous_page_number}}"><i class="fa-regular fa-chevrons-right"></i></a></li>
                        {% endif %}
        
                        {% if page_obj.has_next or page_obj.has_previous %}
                            {% for page in paginator.page_range %}
                                <li {% if page_obj.number == page %}class='active'{% endif %}><a href="?page={{page}}">{{page}}</a></li>
                            {% endfor %}
                        {% endif %}
        
                        {% if page_obj.has_next %}
                            <li><a href="?page={{page_obj.next_page_number}}"><i class="fa-regular fa-chevrons-left"></i></a></li>
                        {% endif %}
                        {% comment %} <li> <button class="active">01</button> </li> {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- blog sidebar area ends -->



    <div class="rts-shorts-service-area rts-section-gap bg_primary">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <!-- single service area start -->
                    <div class="single-short-service-area-start">
                        <div class="icon-area">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="40" cy="40" r="40" fill="white"></circle>
                                <path d="M55.7029 25.2971C51.642 21.2363 46.2429 19 40.5 19C34.7571 19 29.358 21.2363 25.2971 25.2971C21.2364 29.358 19 34.7571 19 40.5C19 46.2429 21.2364 51.642 25.2971 55.7029C29.358 59.7637 34.7571 62 40.5 62C46.2429 62 51.642 59.7637 55.7029 55.7029C59.7636 51.642 62 46.2429 62 40.5C62 34.7571 59.7636 29.358 55.7029 25.2971ZM40.5 59.4805C30.0341 59.4805 21.5195 50.9659 21.5195 40.5C21.5195 30.0341 30.0341 21.5195 40.5 21.5195C50.9659 21.5195 59.4805 30.0341 59.4805 40.5C59.4805 50.9659 50.9659 59.4805 40.5 59.4805Z" fill="#629D23"></path>
                                <path d="M41.8494 39.2402H39.1506C37.6131 39.2402 36.3623 37.9895 36.3623 36.452C36.3623 34.9145 37.6132 33.6638 39.1506 33.6638H44.548C45.2438 33.6638 45.8078 33.0997 45.8078 32.404C45.8078 31.7083 45.2438 31.1442 44.548 31.1442H41.7598V28.3559C41.7598 27.6602 41.1957 27.0962 40.5 27.0962C39.8043 27.0962 39.2402 27.6602 39.2402 28.3559V31.1442H39.1507C36.2239 31.1442 33.8429 33.5253 33.8429 36.452C33.8429 39.3787 36.224 41.7598 39.1507 41.7598H41.8495C43.3869 41.7598 44.6377 43.0106 44.6377 44.548C44.6377 46.0855 43.3869 47.3363 41.8495 47.3363H36.452C35.7563 47.3363 35.1923 47.9004 35.1923 48.5961C35.1923 49.2918 35.7563 49.8559 36.452 49.8559H39.2402V52.6442C39.2402 53.34 39.8043 53.904 40.5 53.904C41.1957 53.904 41.7598 53.34 41.7598 52.6442V49.8559H41.8494C44.7761 49.8559 47.1571 47.4747 47.1571 44.548C47.1571 41.6214 44.7761 39.2402 41.8494 39.2402Z" fill="#629D23"></path>
                                </svg>
                                
                        </div>
                        <div class="information">
                            <h4 class="title">بهترین قیمت ها و پیشنهادات</h4>
                            <p class="disc">
                                ما تخفیف های ویژه ای را برای شما در محصولات خواربار آماده کردیم.
                            </p>
                        </div>
                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <!-- single service area start -->
                    <div class="single-short-service-area-start">
                        <div class="icon-area">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="40" cy="40" r="40" fill="white"></circle>
                                <path d="M55.5564 24.4436C51.4012 20.2884 45.8763 18 40 18C34.1237 18 28.5988 20.2884 24.4436 24.4436C20.2884 28.5988 18 34.1237 18 40C18 45.8763 20.2884 51.4012 24.4436 55.5564C28.5988 59.7116 34.1237 62 40 62C45.8763 62 51.4012 59.7116 55.5564 55.5564C59.7116 51.4012 62 45.8763 62 40C62 34.1237 59.7116 28.5988 55.5564 24.4436ZM40 59.4219C29.2907 59.4219 20.5781 50.7093 20.5781 40C20.5781 29.2907 29.2907 20.5781 40 20.5781C50.7093 20.5781 59.4219 29.2907 59.4219 40C59.4219 50.7093 50.7093 59.4219 40 59.4219Z" fill="#629D23"></path>
                                <path d="M42.4009 34.7622H35.0294L36.295 33.4966C36.7982 32.9934 36.7982 32.177 36.295 31.6738C35.7914 31.1703 34.9753 31.1703 34.4718 31.6738L31.0058 35.1398C30.5022 35.6434 30.5022 36.4594 31.0058 36.9626L34.4718 40.429C34.7236 40.6808 35.0536 40.8067 35.3832 40.8067C35.7132 40.8067 36.0432 40.6808 36.295 40.429C36.7982 39.9255 36.7982 39.1094 36.295 38.6059L35.0291 37.3403H42.4009C44.8229 37.3403 46.7934 39.3108 46.7934 41.7328C46.7934 44.1549 44.8229 46.1254 42.4009 46.1254H37.8925C37.1805 46.1254 36.6035 46.7028 36.6035 47.4145C36.6035 48.1265 37.1805 48.7035 37.8925 48.7035H42.4009C46.2446 48.7035 49.3716 45.5765 49.3716 41.7328C49.3716 37.8892 46.2446 34.7622 42.4009 34.7622Z" fill="#629D23"></path>
                                </svg>
                                
                        </div>
                        <div class="information">
                            <h4 class="title">100٪ سیاست بازگشت</h4>
                            <p class="disc">
                                ما تخفیف های ویژه ای را برای شما در محصولات خواربار آماده کردیم.
                            </p>
                        </div>
                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <!-- single service area start -->
                    <div class="single-short-service-area-start">
                        <div class="icon-area">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="40" cy="40" r="40" fill="white"></circle>
                                <path d="M26.2667 26.2667C29.935 22.5983 34.8122 20.5781 40 20.5781C43.9672 20.5781 47.8028 21.7849 51.0284 24.0128L48.5382 24.2682L48.8013 26.8328L55.5044 26.1453L54.8169 19.4422L52.2522 19.7053L52.4751 21.8787C48.8247 19.3627 44.4866 18 40 18C34.1236 18 28.5989 20.2884 24.4437 24.4437C20.2884 28.5989 18 34.1236 18 40C18 44.3993 19.2946 48.6457 21.7437 52.28L23.8816 50.8393C23.852 50.7952 23.8232 50.7508 23.7939 50.7065C21.69 47.5289 20.5781 43.8307 20.5781 40C20.5781 34.8123 22.5983 29.935 26.2667 26.2667Z" fill="#629D23"></path>
                                <path d="M58.2564 27.72L56.1184 29.1607C56.148 29.2047 56.1768 29.2493 56.2061 29.2935C58.3099 32.4711 59.4219 36.1693 59.4219 40C59.4219 45.1878 57.4017 50.065 53.7333 53.7333C50.0651 57.4017 45.1879 59.4219 40 59.4219C36.0328 59.4219 32.1972 58.2151 28.9716 55.9872L31.4618 55.7318L31.1987 53.1672L24.4956 53.8547L25.1831 60.5578L27.7478 60.2947L27.5249 58.1213C31.1754 60.6373 35.5135 62 40 62C45.8764 62 51.4011 59.7116 55.5564 55.5563C59.7117 51.4011 62 45.8764 62 40C62 35.6007 60.7055 31.3543 58.2564 27.72Z" fill="#629D23"></path>
                                <path d="M28.7407 42.7057L30.4096 41.1632C31.6739 40 31.9142 39.2161 31.9142 38.3564C31.9142 36.7127 30.5108 35.6633 28.4753 35.6633C26.7305 35.6633 25.4788 36.3966 24.8087 37.5093L26.6673 38.546C27.0213 37.9771 27.6029 37.6863 28.2477 37.6863C29.0063 37.6863 29.3856 38.0276 29.3856 38.5966C29.3856 38.9633 29.2845 39.3679 28.5764 40.0254L25.2639 43.123V44.6907H32.1544V42.7057L28.7407 42.7057Z" fill="#629D23"></path>
                                <path d="M40.1076 42.9965H41.4224V41.0115H40.1076V39.507H37.7433V41.0115H35.948L39.5512 35.8404H36.9594L32.9894 41.3655V42.9965H37.6674V44.6906H40.1076V42.9965Z" fill="#629D23"></path>
                                <path d="M43.6986 45.955L47.8708 34.045H45.7341L41.5618 45.955H43.6986Z" fill="#629D23"></path>
                                <path d="M49.995 39.1908V37.8254H52.3213L49.3375 44.6906H52.0685L55.1913 37.4081V35.8404H47.8582V39.1908H49.995Z" fill="#629D23"></path>
                                </svg>
                                
                        </div>
                        <div class="information">
                            <h4 class="title">پشتیبانی 24/7</h4>
                            <p class="disc">
                                ما تخفیف های ویژه ای را برای شما در محصولات خواربار آماده کردیم.
                            </p>
                        </div>
                    </div>
                    <!-- single service area end -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <!-- single service area start -->
                    <div class="single-short-service-area-start">
                        <div class="icon-area">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="40" cy="40" r="40" fill="white"></circle>
                                <path d="M57.0347 37.5029C54.0518 29.3353 48.6248 23.7668 48.3952 23.5339L46.2276 21.3333V29.6016C46.2276 30.3124 45.658 30.8906 44.9578 30.8906C44.2577 30.8906 43.688 30.3124 43.688 29.6016C43.688 23.2045 38.5614 18 32.26 18H30.9902V19.2891C30.9902 25.3093 27.0988 29.646 24.1414 35.2212C21.1581 40.8449 21.3008 47.7349 24.5138 53.2021C27.7234 58.6637 33.5291 62 39.7786 62H40.3686C46.1822 62 51.6369 59.1045 54.9597 54.2545C58.2819 49.4054 59.056 43.0371 57.0347 37.5029ZM52.8748 52.7824C50.0265 56.9398 45.3513 59.4219 40.3686 59.4219H39.7786C34.4416 59.4219 29.4281 56.5325 26.6947 51.8813C23.9369 47.1886 23.8153 41.2733 26.3773 36.4436C29.1752 31.1691 32.9752 26.8193 33.4744 20.662C37.803 21.265 41.1483 25.0441 41.1483 29.6015C41.1483 31.7338 42.8572 33.4687 44.9577 33.4687C47.0581 33.4687 48.767 31.7338 48.767 29.6015V27.9161C50.54 30.2131 53.0138 33.9094 54.6534 38.399C56.3856 43.1416 55.704 48.653 52.8748 52.7824Z" fill="#629D23"></path>
                                <path d="M38.6089 40C38.6089 37.8676 36.9 36.1328 34.7996 36.1328C32.6991 36.1328 30.9902 37.8676 30.9902 40C30.9902 42.1324 32.6991 43.8672 34.7996 43.8672C36.9 43.8672 38.6089 42.1324 38.6089 40ZM33.5298 40C33.5298 39.2892 34.0994 38.7109 34.7996 38.7109C35.4997 38.7109 36.0693 39.2892 36.0693 40C36.0693 40.7108 35.4997 41.2891 34.7996 41.2891C34.0994 41.2891 33.5298 40.7108 33.5298 40Z" fill="#629D23"></path>
                                <path d="M44.9578 46.4453C42.8573 46.4453 41.1485 48.1801 41.1485 50.3125C41.1485 52.4449 42.8573 54.1797 44.9578 54.1797C47.0583 54.1797 48.7672 52.4449 48.7672 50.3125C48.7672 48.1801 47.0583 46.4453 44.9578 46.4453ZM44.9578 51.6016C44.2577 51.6016 43.688 51.0233 43.688 50.3125C43.688 49.6017 44.2577 49.0234 44.9578 49.0234C45.658 49.0234 46.2276 49.6017 46.2276 50.3125C46.2276 51.0233 45.658 51.6016 44.9578 51.6016Z" fill="#629D23"></path>
                                <path d="M32.5466 52.0632L45.2407 36.599L47.1911 38.249L34.4969 53.7132L32.5466 52.0632Z" fill="#629D23"></path>
                            </svg>                                
                        </div>
                        <div class="information">
                            <h4 class="title">پیشنهاد عالی معامله روزانه</h4>
                            <p class="disc">
                                ما تخفیف های ویژه ای را برای شما در محصولات خواربار آماده کردیم.
                            </p>
                        </div>
                    </div>
                    <!-- single service area end -->
                </div>
            </div>
        </div>
    </div>

   <!-- rts footer one area start -->
   <div class="rts-footer-area pt--80 bg_light-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-main-content-wrapper pb--70">
                    <!-- single footer area wrapper -->
                    <div class="single-footer-wized">
                        <h3 class="footer-title">درباره شرکت</h3>
                        <div class="call-area">
                            <div class="icon">
                                <i class="fa-solid fa-phone-rotary"></i>
                            </div>
                            <div class="info">
                                <span>سوالی دارید؟ با ما تماس بگیرید 24/7 </span>
                                <a href="#" class="number">+ 258 3692 2569</a>
                            </div>
                        </div>
                        <div class="opening-hour">
                            <div class="single">
                                <p>دوشنبه تا جمعه: <span>8:00 صبح تا 6:00 بعد از ظهر</span></p>
                            </div>
                            <div class="single">
                                <p>شنبه: <span>8:00 صبح تا 6:00 بعد از ظهر</span></p>
                            </div>
                            <div class="single">
                                <p>یکشنبه: <span>سرویس بسته است</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- single footer area wrapper -->
                    <!-- single footer area wrapper -->
                    <div class="single-footer-wized">
                        <h3 class="footer-title">فروشگاه های ما</h3>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">اطلاعات تحویل</a></li>
                                <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                                <li><a href="#">شرایط و ضوابط</a></li>
                                <li><a href="#">مرکز پشتیبانی</a></li>
                                <li><a href="#">مشاغل</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single footer area wrapper -->
                    <!-- single footer area wrapper -->
                    <div class="single-footer-wized">
                        <h3 class="footer-title">دسته بندی های فروشگاه</h3>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">با ما تماس بگیرید</a></li>
                                <li><a href="#">اطلاعات</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">مشاغل</a></li>
                                <li><a href="#">داستان های آشیانه</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single footer area wrapper -->
                    <!-- single footer area wrapper -->
                    <div class="single-footer-wized">
                        <h3 class="footer-title">لینک های مفید</h3>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">لغو و بازگشت</a></li>
                                <li><a href="#">گزارش تخلف</a></li>
                                <li><a href="#">مبلغ پرداختی</a></li>
                                <li><a href="#">هزينه ارسال</a></li>
                                <li><a href="#">سوالات متداول</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- single footer area wrapper -->
                    <!-- single footer area wrapper -->
                    <div class="single-footer-wized">
                        <h3 class="footer-title">خبرنامه ما</h3>
                        <p class="disc-news-letter"><br>برای دریافت به&zwnj;روزرسانی&zwnj;ها از جمله ورودی&zwnj;های جدید و سایر تخفیف&zwnj;ها،
                         
                            در فهرست پستی مشترک شوید</p>
                        <form class="footersubscribe-form" action="#">
                            <input type="email" placeholder="آدرس ایمیل شما" required="">
                            <button class="rts-btn btn-primary">اشتراک</button>
                        </form>

                        <p class="dsic">
                            من می خواهم اخبار و پیشنهاد ویژه را دریافت کنم
                        </p>
                    </div>
                    <!-- single footer area wrapper -->
                </div>
                <div class="social-and-payment-area-wrapper">
                    <div class="social-one-wrapper">
                        <span>ما را دنبال کنید:</span>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="payment-access">
                        <span>پرداخت می پذیرد:</span>
                        <img src="/static/assets/images/payment/01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- rts footer one area end -->

    <!-- rts copyright-area start -->
    <div class="rts-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-between-1">
                        <p class="disc">
                            حق چاپ 2024 <a href="#">©اکومارت</a> . تمامی حقوق محفوظ است.
                        </p>
                        <a href="#" class="playstore-app-area">
                            <span>دانلود برنامه</span>
                            <img src="/static/assets/images/payment/02.png" alt="">
                            <img src="/static/assets/images/payment/03.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts copyright-area end -->

    
<div class="product-details-popup-wrapper">
    <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
        <div class="product-details-popup">
            <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
            <div class="details-product-area">
                <div class="product-thumb-area">
                    <div class="cursor"></div>
                    <div class="thumb-wrapper one filterd-items figure">
                        <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url(/static/assets/images/products/product-details.jpg)"><img src="/static/assets/images/products/product-details.jpg" alt="محصول-شست">
                        </div>
                    </div>
                    <div class="thumb-wrapper two filterd-items hide">
                        <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url(/static/assets/images/products/product-filt2.jpg)"><img src="/static/assets/images/products/product-filt2.jpg" alt="محصول-شست">
                        </div>
                    </div>
                    <div class="thumb-wrapper three filterd-items hide">
                        <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url(/static/assets/images/products/product-filt3.jpg)"><img src="/static/assets/images/products/product-filt3.jpg" alt="محصول-شست">
                        </div>
                    </div>
                    <div class="product-thumb-filter-group">
                        <div class="thumb-filter filter-btn active" data-show=".one"><img src="/static/assets/images/products/product-filt1.jpg" alt="محصول-شست-فیلتر"></div>
                        <div class="thumb-filter filter-btn" data-show=".two"><img src="/static/assets/images/products/product-filt2.jpg" alt="محصول-شست-فیلتر"></div>
                        <div class="thumb-filter filter-btn" data-show=".three"><img src="/static/assets/images/products/product-filt3.jpg" alt="محصول-شست-فیلتر"></div>
                    </div>
                </div>
                <div class="contents">
                    <div class="product-status">
                        <span class="product-catagory">لباس</span>
                        <div class="rating-stars-group">
                            <div class="rating-star"><i class="fas fa-star"></i></div>
                            <div class="rating-star"><i class="fas fa-star"></i></div>
                            <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                            <span>10 بررسی</span>
                        </div>
                    </div>
                    <h2 class="product-title">لباس تونیک نخی پهن <span class="stock">موجود است</span></h2>
                    <span class="product-price"><span class="old-price">9.35</span> تومان 7.25 تومان</span>
                    <p>
                        پریوشاپ پک ترکیبی Hijab 3 Pieces PS23 را برای شما آورده است. این یک طراحی کاملا مدرن است و شما با این حجاب احساس راحتی می کنید. آن را با بهترین قیمت خریداری کنید.
                    </p>
                    <div class="product-bottom-action">
                        <div class="cart-edit">
                            <div class="quantity-edit action-item">
                                <button class="button"><i class="fal fa-minus minus"></i></button>
                                <input type="text" class="input" value="01">
                                <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                            </div>
                        </div>
                        <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                            <div class="btn-text">
                                افزودن به سبد خرید
                            </div>
                            <div class="arrow-icon">
                                <i class="fa-regular fa-cart-shopping"></i>
                            </div>
                            <div class="arrow-icon">
                                <i class="fa-regular fa-cart-shopping"></i>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="rts-btn btn-primary ml--20"><i class="fa-light fa-heart"></i></a>
                    </div>
                    <div class="product-uniques">
                        <span class="sku product-unipue"><span>شناسه محصول:</span> BO1D0MX8SJ </span>
                        <span class="catagorys product-unipue"><span>دسته بندی ها:</span> تی شرت، تاپ، مردانه </span>
                        <span class="tags product-unipue"><span>برچسب ها:</span> مد، تی شرت، مردانه</span>
                    </div>
                    <div class="share-social">
                        <span>اشتراک گذاری:</span>
                        <a class="platform" href="http://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="platform" href="http://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="platform" href="http://behance.com/" target="_blank"><i class="fab fa-behance"></i></a>
                        <a class="platform" href="http://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="platform" href="http://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


