{% extends "base.html" %}
{% load static %}
{% load poll_extras %}


{% block header_references %}
    <link rel="stylesheet" href="{% static "about_us_module/css/about_us.css" %}">
{% endblock header_references %}

{% block content %}
    <!-- rts banner area about -->
    <div class="about-banner-area-bg rts-section-gap bg_iamge">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content-about-area">
                        <h1 class="title">آیا می خواهید ما را بشناسید؟</h1>
                        <p class="disc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        <a href="{% url "contact_module:contact-us" %}" class="rts-btn btn-primary">با ما تماس بگیرید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts banner area about end -->
    <!-- rts counter area start -->
    <div class="rts-counter-area">
        <div class="container-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="counter-area-main-wrapper">
                        <div class="single-counter-area">
                            <h2 class="title"><span class="counter">{{total_paid_amount|format_stat}}</span>+ تومان</h2>
                            <p><br>
                                مبلغ خرید شده از ما</p>
                        </div>
                        <div class="single-counter-area">
                            <h2 class="title"><span class="counter">{{ user_count|format_stat }}</span>+</h2>
                            <p><br>
                            کاربر در خوشه </p>
                        </div>
                        <div class="single-counter-area">
                            <h2 class="title"><span class="counter">{{ total_orders |format_stat}}</span>+</h2>
                            <p><br>
                            سفارش در خوشه
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts counter area end -->

    <!-- about area start -->
    <div class="rts-about-area rts-section-gap2">
        <div class="container-3">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="thumbnail-right">
                        <img src="/static/assets/images/about/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-8 pl--60 pl_md--10 pt_md--30 pl_sm--10 pt_sm--30">
                    <div class="about-content-area-1">
                        <h2 class="title">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </h2>
                        <p class="disc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
                        <div class="check-main-wrapper">
                            <div class="single-check-area">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</div>
                            <div class="single-check-area">لورم ایپسوم ساختگی با تولید سادگی نامفهوم از صنعت چاپ</div>
                            <div class="single-check-area">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</div>
                            <div class="single-check-area">متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</div>
                            <div class="single-check-area">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</div>
                            <div class="single-check-area">لورم اختگی با تولید سادگی نامفهوم از صنعت چاپ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- section-seperator start -->
    <div class="section-seperator">
        <div class="container-3">
            <hr class="section-seperator">
        </div>
    </div>
    <!-- section-seperator start -->


    <!-- choosing reason service area start -->
    <div class="rts-service-area rts-section-gap2 bg_light-1">
        <div class="container-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-center-area-main">
                        <h2 class="title">
                            چرا ما را انتخاب می کنید؟
                        </h2>
                        <p class="disc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                    </div>
                </div>
            </div>
            <div class="row mt--30 g-5">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-service-area-style-one">
                        <div class="icon-area">
                            <span class="bg-text">01</span>
                            <img class="orange-svg" src="/static/assets/images/service/01.svg" alt="سرویس">
                        </div>
                        <div class="bottom-content">
                            <h3 class="title">
                                خدمات مواد غذایی ارگانیک
                            </h3>
                            <p class="disc">
                                هنگامی که یک چاپگر ناشناخته یک گالی از نوع را گرفت و آن را به هم زد تا کتاب منطقه نمونه را با نوع دنباله دار تهیه کند.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-service-area-style-one">
                        <div class="icon-area">
                            <span class="bg-text">02</span>
                            <img class="orange-svg" src="/static/assets/images/service/02.svg" alt="سرویس">
                        </div>
                        <div class="bottom-content">
                            <h3 class="title">
                                خدمات مواد غذایی ارگانیک
                            </h3>
                            <p class="disc">
                                هنگامی که یک چاپگر ناشناخته یک گالی از نوع را گرفت و آن را به هم زد تا کتاب منطقه نمونه را با نوع دنباله دار تهیه کند.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="single-service-area-style-one">
                        <div class="icon-area">
                            <span class="bg-text">03</span>
                            <img class="orange-svg" src="/static/assets/images/service/03.svg" alt="سرویس">
                        </div>
                        <div class="bottom-content">
                            <h3 class="title">
                                خدمات مواد غذایی ارگانیک
                            </h3>
                            <p class="disc">
                                هنگامی که یک چاپگر ناشناخته یک گالی از نوع را گرفت و آن را به هم زد تا کتاب منطقه نمونه را با نوع دنباله دار تهیه کند.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- choosing reason service area end -->


    <!-- rts customers feedbacka area start -->
    {% comment %} <div class="rts-cuystomers-feedback-area rts-section-gap2">
        <div class="container-3">
            <div class="row">
                <div class="col-lgl-12">
                    <div class="title-area-right pl--0">
                        <h2 class="title-right mb--0">
                            بازخورد مشتریان
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-lg-12">
                    <div class="customers-feedback-area-main-wrapper">
                        <!-- rts category area satart -->
                        <div class="rts-caregory-area-one ">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="category-area-main-wrapper-one">
                                        <div class="swiper mySwiper-category-1 swiper-data" data-swiper="{
                                            &quot;spaceBetween&quot;:24,
                                            &quot;slidesPerView&quot;:2,
                                            &quot;loop&quot;: true,
                                            &quot;speed&quot;: 1000,
                                            &quot;navigation&quot;:{
                                                &quot;nextEl&quot;:&quot;.swiper-button-nexts&quot;,
                                                &quot;prevEl&quot;:&quot;.swiper-button-prevs&quot;
                                                },
                                            &quot;breakpoints&quot;:{
                                            &quot;0&quot;:{
                                                &quot;slidesPerView&quot;:1,
                                                &quot;spaceBetween&quot;: 24},
                                            &quot;320&quot;:{
                                                &quot;slidesPerView&quot;:1,
                                                &quot;spaceBetween&quot;:24},
                                            &quot;480&quot;:{
                                                &quot;slidesPerView&quot;:1,
                                                &quot;spaceBetween&quot;:24},
                                            &quot;640&quot;:{
                                                &quot;slidesPerView&quot;:1,
                                                &quot;spaceBetween&quot;:24},
                                            &quot;840&quot;:{
                                                &quot;slidesPerView&quot;:1,
                                                &quot;spaceBetween&quot;:24},
                                            &quot;1140&quot;:{
                                                &quot;slidesPerView&quot;:2,
                                                &quot;spaceBetween&quot;:24}
                                            }
                                        }">
                                            <div class="swiper-wrapper">
                                                <!-- single swiper start -->
                                                <div class="swiper-slide">
                                                    <!-- single customers feedback area start -->
                                                    <div class="single-customers-feedback-area">
                                                        <div class="top-thumbnail-area">
                                                            <div class="right">
                                                                <img src="/static/assets/images/testimonial/01.png" alt="لوگو">
                                                                <div class="information">
                                                                    <h4 class="title">
                                                                        اندرو دی اسمیت
                                                                    </h4>
                                                                    <span>مدیر</span>
                                                                </div>
                                                            </div>
                                                            <div class="left">
                                                                <img src="/static/assets/images/testimonial/02.png" alt="لوگو">
                                                            </div>
                                                        </div>
                                                        <div class="body-content">
                                                            <p class="disc">
                                                                طبق گفته شورای متخصصان زنجیره تامین، شورای مدیریت لجستیک، فرآیند برنامه ریزی، اجرا و کنترل رویه ها است.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!-- single customers feedback area end -->
                                                </div>
                                                <!-- single swiper start -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- rts category area end -->
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- rts customers feedbacka area end -->
    
{% endblock content %}