{% load thumbnail %}
{% load poll_extras %}


<div class="single-shopping-card-one">
    <!-- Image and action area start -->
    <div class="image-and-action-area-wrapper">
        <a href="{% url 'product_module:product-detail' pk=product.pk slug=product.slug %}" class="thumbnail-preview">
            {% if product.discount_percent %}
                <div class="badge">
                    <span>
                        {{ product.discount_percent }}%<br />
                        تخفیف
                    </span>
                    <i class="fa-solid fa-bookmark"></i>
                </div>
            {% endif %}
            {% thumbnail product.image "257x223" quality=100 crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ product.title }}" />
            {% endthumbnail %}
        </a>
        <div class="action-share-option cursor-pointer">
            <a onclick="addProductToFavoriteList({{ product.id }})">
                <div class="single-action openuptip message-show-action" data-flow="up" title="افزودن به علاقمندی ها">
                    <i id="product_{{product.id}}" {% if product.id|is_favorite_product:request.user.id %}class="fa-light fa-heart favorite-heart" {% else %}class="fa-light fa-heart" {% endif %}>
                    </i>
                </div>
            </a> 
            <div 
                class="single-action openuptip cta-quickview product-details-popup-btn"
                data-flow="up"
                title="مشاهده سریع"
                data-product-id={{product.id}}
                data-product-weight={% if product.weight %}{{product.weight}}{% else %}""{% endif %}
                data-title="{{ product.title }}"
                data-image="{{ product.image.url }}"
                data-price="{{ product.price_with_discount }}"
                data-old-price="{{ product.price }}"
                data-description="{{ product.short_description }}"
                data-stock="{% if product.quantity > 0 %}موجود{% else %}ناموجود{% endif %}"
                data-rating="{{ product.rating }}"
                data-extra-images='[{% for img in product.images.all %}"{{ img.image.url }}"{% if not forloop.last %}, {% endif %}{% endfor %}]'
            >
                <i class="fa-regular fa-eye"></i>
            </div>
        </div>
    </div>
    <!-- Image and action area end -->

    <!-- Body content -->
    <div class="body-content">
        <a href="shop-details.html">
            <h4 class="title card-text">{{ product.title|truncatechars:40}}</h4>
        </a>
        {% if product.weight %}
            <span class="availability">بسته {{ product.weight }} گرمی</span>
        {% endif %}
        <div class="price-area">
            {% if product.price_with_discount %}
                <span class="current price-style">{{ product.price_with_discount }} تومان</span>
                <div class="previous">{{ product.price }} تومان</div>
                {% else %}
                <div class="current price-style">{{ product.price }} تومان</div>
            {% endif %}
        </div>
        <div class="cart-counter-action">
            <div class="quantity-edit">
                <input id="productCount_{{product.id}}" type="text" min="1" class="input" value="1"/>
                <div class="button-wrapper-action">
                    <button class="button"><i class="fa-regular fa-chevron-down"></i></button>
                    <button class="button plus">+<i class="fa-regular fa-chevron-up"></i></button>
                </div>
            </div>
            
            <a onclick="addProductToBasket({{product.id}})" class="rts-btn radious-sm with-icon cursor-pointer">
                <div class="btn-text">
                    اضافه کردن
                </div>
                <div class="arrow-icon">
                    <i class="fa-regular fa-cart-shopping"></i>
                </div>
            </a>
        </div>
    </div>
    <!-- Body content end -->
</div>







{% comment %} 
    <div class="single-shopping-card-one card">
        <!-- Image and action area start -->
        <div class="image-and-action-area-wrapper">
            <a href="{% url 'product_module:product-detail' pk=product.pk slug=product.slug %}" class="thumbnail-preview">
                {% if product.discount_percent %}
                    <div class="badge">
                        <span>
                            {{ product.discount_percent }}%<br />
                            تخفیف
                        </span>
                        <i class="fa-solid fa-bookmark"></i>
                    </div>
                {% endif %}
                {% thumbnail product.image "257x223" quality=85 crop=center as im %}
                    <img src="{{ im.url }}" alt="{{ product.title }}" />
                {% endthumbnail %}
            </a>
            <div class="action-share-option cursor-pointer">
                <a onclick="addProductToFavoriteList({{ product.id }})">
                    <div class="single-action openuptip message-show-action" data-flow="up" title="افزودن به علاقمندی ها">
                        <i id="product_{{product.id}}" {% if product.id|is_favorite_product:request.user.id %}class="fa-light fa-heart favorite-heart" {% else %}class="fa-light fa-heart" {% endif %}>
                        </i>
                    </div>
                </a> 
                <div 
                    class="single-action openuptip cta-quickview product-details-popup-btn"
                    data-flow="up"
                    title="مشاهده سریع"
                    data-title="{{ product.title }}"
                    data-image="{{ product.image.url }}"
                    data-price="{{ product.price_with_discount }}"
                    data-old-price="{{ product.price }}"
                    data-description="{{ product.short_description }}"
                    data-stock="{% if product.quantity > 0 %}موجود{% else %}ناموجود{% endif %}"
                    data-rating="{{ product.rating }}"
                    data-extra-images='[{% for img in product.images.all %}"{{ img.image.url }}"{% if not forloop.last %}, {% endif %}{% endfor %}]'
                >
                    <i class="fa-regular fa-eye"></i>
                </div>
            </div>
        </div>
        <!-- Image and action area end -->

        <!-- Body content -->
        <div class="body-content">
            <a href="shop-details.html">
                <h4 class="title card-text">{{ product.title }}</h4> <!-- Title inside card-text -->
            </a>
            <span class="availability">بسته {{ product.weight }} گرمی</span>
            <div class="price-area">
                <span class="current">{{ product.price_with_discount }} تومان</span>
                <div class="previous">{{ product.price }} تومان</div>
            </div>
            <div class="cart-counter-action">
                <div class="quantity-edit">
                    <input id="productCount_{{product.id}}" type="text" min="1" class="input" value="1"/>
                    <div class="button-wrapper-action">
                        <button class="button"><i class="fa-regular fa-chevron-down"></i></button>
                        <button class="button plus">+<i class="fa-regular fa-chevron-up"></i></button>
                    </div>
                </div>
                
                <a onclick="addProductToBasket({{product.id}})" class="rts-btn btn-primary radious-sm with-icon cursor-pointer">
                    <div class="btn-text">
                        اضافه کردن
                    </div>
                    <div class="arrow-icon">
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </a>
            </div>
        </div>
        <!-- Body content end -->
    </div> 
{% endcomment %}
