{% load render_partial %}

<!DOCTYPE html>
<html lang="fa">
    <head>
        {% include "includes/header_links.html" %}
        {% block header_references %}{% endblock header_references %}
    </head>
    <body class="shop-main-h">
        <!-- rts header area start -->
        <!-- rts header area start -->
        <div class="rts-header-one-area-one">
            {% render_partial 'home_module.views.header_component' %}
        </div>
        <!-- rts header area end -->

        <!-- rts header area start -->
        <!-- header style two -->
        <div id="side-bar" class="side-bar header-two">
            {% render_partial 'home_module.views.mobile_sidebar_component' %}
        </div>
        <!-- header style two End -->
        <!-- rts header area end -->
        <!-- rts header area end -->

        {% block content %}

        {% endblock content %}
        
        <!-- rts footer one area start -->
        <div class="rts-footer-area pt--80 bg_light-1">
            {% render_partial "home_module.views.footer_component" %}
        </div>
        <!-- rts footer one area end -->

        <!-- rts copyright-area start -->
        <div class="rts-copyright-area">
            {% render_partial "home_module.views.copyright_component" %}
        </div>
        <!-- rts copyright-area end -->

        <!-- modal -->
        <div id="myModal-1" class="modal fade" role="dialog">
            <div class="modal-dialog bg_image">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal"><i class="fa-light fa-x"></i></button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="inner-content">
                            <div class="content">
                                <span class="pre-title">در اولین خرید 150 تومانی خود تا 30 درصد تخفیف دریافت کنید</span>
                                <h1 class="title">
                                    خانواده خود را با <br />
                                    بهترین قیمت تغذیه کنید
                                </h1>
                                <p class="disc">
                                    ما برای شما تخفیفات ویژه ای را در مورد محصولات غذایی آماده کرده ایم. این فرصت ها را از دست ندهید <br />
                                    ...
                                </p>
                                <div class="rts-btn-banner-area">
                                    <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                                        <div class="btn-text">
                                            اکنون فروشگاه
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-light fa-arrow-left"></i>
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-light fa-arrow-left"></i>
                                        </div>
                                    </a>
                                    <div class="price-area">
                                        <span>از</span>
                                        <h3 class="title animated fadeIn">80.99 تومان</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-details-popup-wrapper">
            <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
                <div class="product-details-popup">
                    <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
                    <div class="details-product-area">
                        <div class="product-thumb-area">
                            <div class="cursor"></div>
                            <div class="thumb-wrapper one filterd-items figure">
                                <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url(/static/assets/images/products/product-details.jpg);">
                                    <img src="/static/assets/images/products/product-details.jpg" alt="محصول-شست" />
                                </div>
                            </div>
                            <div class="thumb-wrapper two filterd-items hide">
                                <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url(/static/assets/images/products/product-filt2.jpg);">
                                    <img src="/static/assets/images/products/product-filt2.jpg" alt="محصول-شست" />
                                </div>
                            </div>
                            <div class="thumb-wrapper three filterd-items hide">
                                <div class="product-thumb zoom" onmousemove="zoom(event)" style="background-image: url(/static/assets/images/products/product-filt3.jpg);">
                                    <img src="/static/assets/images/products/product-filt3.jpg" alt="محصول-شست" />
                                </div>
                            </div>
                            <div class="product-thumb-filter-group">
                                <div class="thumb-filter filter-btn active" data-show=".one"><img src="/static/assets/images/products/product-filt1.jpg" alt="محصول-شست-فیلتر" /></div>
                                <div class="thumb-filter filter-btn" data-show=".two"><img src="/static/assets/images/products/product-filt2.jpg" alt="محصول-شست-فیلتر" /></div>
                                <div class="thumb-filter filter-btn" data-show=".three"><img src="/static/assets/images/products/product-filt3.jpg" alt="محصول-شست-فیلتر" /></div>
                            </div>
                        </div>
                        <div class="contents">
                            <div class="product-status">
                                <span class="product-catagory">لباس</span>
                                <div class="rating-stars-group">
                                    <div class="rating-star"><i class="fas fa-star"></i></div>
                                    <div class="rating-star"><i class="fas fa-star"></i></div>
                                    <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                                    <span>10 بررسی</span>
                                </div>
                            </div>
                            <h2 class="product-title">لباس تونیک نخی پهن <span class="stock">موجود است</span></h2>
                            <span class="product-price"><span class="old-price">9.35</span> تومان 7.25 تومان</span>
                            <p>
                                پریوشاپ پک ترکیبی Hijab 3 Pieces PS23 را برای شما آورده است. این یک طراحی کاملا مدرن است و شما با این حجاب احساس راحتی می کنید. آن را با بهترین قیمت خریداری کنید.
                            </p>
                            <div class="product-bottom-action">
                                <div class="cart-edit">
                                    <div class="quantity-edit action-item">
                                        <button class="button"><i class="fal fa-minus minus"></i></button>
                                        <input type="text" class="input" value="01" />
                                        <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                                    </div>
                                </div>
                                <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                                    <div class="btn-text">
                                        افزودن به سبد خرید
                                    </div>
                                    <div class="arrow-icon">
                                        <i class="fa-regular fa-cart-shopping"></i>
                                    </div>
                                    <div class="arrow-icon">
                                        <i class="fa-regular fa-cart-shopping"></i>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="rts-btn btn-primary ml--20"><i class="fa-light fa-heart"></i></a>
                            </div>
                            <div class="product-uniques">
                                <span class="sku product-unipue"><span>شناسه محصول:</span> BO1D0MX8SJ </span>
                                <span class="catagorys product-unipue"><span>دسته بندی ها:</span> تی شرت، تاپ، مردانه </span>
                                <span class="tags product-unipue"><span>برچسب ها:</span> مد، تی شرت، مردانه</span>
                            </div>
                            <div class="share-social">
                                <span>اشتراک گذاری:</span>
                                <a class="platform" href="http://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a class="platform" href="http://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a class="platform" href="http://behance.com/" target="_blank"><i class="fab fa-behance"></i></a>
                                <a class="platform" href="http://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                                <a class="platform" href="http://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- successfully add in wishlist -->
        <div class="successfully-addedin-wishlist">
            <div class="d-flex" style="align-items: center; gap: 15px;">
                <i class="fa-regular fa-check"></i>
                <p>مورد شما قبلاً با موفقیت به لیست علاقه مندی ها اضافه شده است</p>
            </div>
        </div>
        <!-- successfully add in wishlist end -->

        <!-- Modal -->
        <div class="modal modal-compare-area-start fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">مقایسه محصولات</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                    </div>
                    <div class="modal-body">
                        <div class="compare-main-wrapper-body">
                            <div class="single-compare-elements name">پیش نمایش</div>
                            <div class="single-compare-elements">
                                <div class="thumbnail-preview">
                                    <img src="/static/assets/images/grocery/01.jpg" alt="خواربار" />
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="thumbnail-preview">
                                    <img src="/static/assets/images/grocery/02.jpg" alt="خواربار" />
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="thumbnail-preview">
                                    <img src="/static/assets/images/grocery/03.jpg" alt="خواربار" />
                                </div>
                            </div>
                        </div>
                        <div class="compare-main-wrapper-body productname spacifiq">
                            <div class="single-compare-elements name">نام</div>
                            <div class="single-compare-elements">
                                <p>خوشبو کننده هوای آشپزخانه</p>
                            </div>
                            <div class="single-compare-elements">
                                <p>خوشبو کننده هوای آشپزخانه</p>
                            </div>
                            <div class="single-compare-elements">
                                <p>خوشبو کننده هوای آشپزخانه</p>
                            </div>
                        </div>
                        <div class="compare-main-wrapper-body productname">
                            <div class="single-compare-elements name">قیمت</div>
                            <div class="single-compare-elements price">
                                <p>25.00 تومان</p>
                            </div>
                            <div class="single-compare-elements price">
                                <p>39.25 تومان</p>
                            </div>
                            <div class="single-compare-elements price">
                                <p>12.00 تومان</p>
                            </div>
                        </div>
                        <div class="compare-main-wrapper-body productname">
                            <div class="single-compare-elements name">شرح</div>
                            <div class="single-compare-elements discription">
                                <p>لورم ايپسوم به سادگی متن ساختگی صنعت چاپ و حروفچینی است. لورم ايپسوم استاندارد این صنعت بوده است</p>
                            </div>
                            <div class="single-compare-elements discription">
                                <p>لورم ايپسوم به سادگی متن ساختگی صنعت چاپ و حروفچینی است. لورم ايپسوم استاندارد این صنعت بوده است</p>
                            </div>
                            <div class="single-compare-elements discription">
                                <p>لورم ايپسوم به سادگی متن ساختگی صنعت چاپ و حروفچینی است. لورم ايپسوم استاندارد این صنعت بوده است</p>
                            </div>
                        </div>
                        <div class="compare-main-wrapper-body productname">
                            <div class="single-compare-elements name">رتبه بندی</div>
                            <div class="single-compare-elements">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <span>(25)</span>
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <span>(19)</span>
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <span>(120)</span>
                                </div>
                            </div>
                        </div>
                        <div class="compare-main-wrapper-body productname">
                            <div class="single-compare-elements name">وزن</div>
                            <div class="single-compare-elements">
                                <div class="rating">
                                    <p>320 گرم</p>
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <p>370 گرم</p>
                            </div>
                            <div class="single-compare-elements">
                                <p>380 گرم</p>
                            </div>
                        </div>
                        <div class="compare-main-wrapper-body productname">
                            <div class="single-compare-elements name">وضعیت سهام</div>
                            <div class="single-compare-elements">
                                <div class="instocks">
                                    <span>در انبار</span>
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="outstocks">
                                    <span class="out-stock">تمام شده</span>
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="instocks">
                                    <span>در انبار</span>
                                </div>
                            </div>
                        </div>
                        <div class="compare-main-wrapper-body productname">
                            <div class="single-compare-elements name">هم اکنون خریداری کنید</div>
                            <div class="single-compare-elements">
                                <div class="cart-counter-action">
                                    <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                                        <div class="btn-text">
                                            افزودن به سبد خرید
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-regular fa-cart-shopping"></i>
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-regular fa-cart-shopping"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="cart-counter-action">
                                    <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                                        <div class="btn-text">
                                            افزودن به سبد خرید
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-regular fa-cart-shopping"></i>
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-regular fa-cart-shopping"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="single-compare-elements">
                                <div class="cart-counter-action">
                                    <a href="#" class="rts-btn btn-primary radious-sm with-icon">
                                        <div class="btn-text">
                                            افزودن به سبد خرید
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-regular fa-cart-shopping"></i>
                                        </div>
                                        <div class="arrow-icon">
                                            <i class="fa-regular fa-cart-shopping"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--================= Preloader Section Start Here =================-->
        <div id="weiboo-load">
            <div class="preloader-new">
                <svg class="cart_preloader" role="img" aria-label="انیمیشن خط سبد خرید_preloader" viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                        <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                            <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"></polyline>
                            <circle cx="43" cy="111" r="13"></circle>
                            <circle cx="102" cy="111" r="13"></circle>
                        </g>
                        <g class="cart__lines" stroke="currentColor">
                            <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" stroke-dasharray="338 338" stroke-dashoffset="-338"></polyline>
                            <g class="cart__wheel1" transform="rotate(-90,43,111)">
                                <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68"></circle>
                            </g>
                            <g class="cart__wheel2" transform="rotate(90,102,111)">
                                <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68" stroke-dashoffset="81.68"></circle>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <!--================= Preloader End Here =================-->

        <div class="search-input-area">
            <div class="container">
                <div class="search-input-inner">
                    <div class="input-div">
                        <input id="searchInput1" class="search-input" type="text" placeholder="جستجو بر اساس کلمه کلیدی یا #" />
                        <button><i class="far fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
        </div>
        <div id="anywhere-home" class="anywere"></div>
        <!-- progress area start -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
            </svg>
        </div>
        <!-- progress area end -->

        {% include "includes/footer_links.html" %}
        {% block footer_references %}{% endblock footer_references %}
    </body>
</html>
