<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="copyright-between-1">
                <p class="disc">تمامی محتویات این سایت متعلق به <a href="#">@خوشه </a>می باشد.حق انتشار محفوظ است </p>
                {% comment %} <a href="#" class="playstore-app-area">
                    <span>دانلود برنامه</span>
                    <img src="/static/assets/images/payment/02.png" alt="" />
                    <img src="/static/assets/images/payment/03.png" alt="" />
                </a> {% endcomment %}
            </div>
        </div>
    </div>
</div>