<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="footer-main-content-wrapper pb--70 pb_sm--30">
                <!-- single footer area wrapper -->
                <div class="single-footer-wized">
                    <h3 class="footer-title">درباره شرکت</h3>
                    <div class="call-area">
                        <div class="icon">
                            <i class="fa-solid fa-phone-rotary"></i>
                        </div>
                        <div class="info">
                            <span>سوالی دارید؟ با ما تماس بگیرید 24/7 </span>
                            <a href="#" class="number">+ 258 3692 2569</a>
                        </div>
                    </div>
                    <div class="opening-hour">
                        <div class="single">
                            <p>دوشنبه تا جمعه: <span>8:00 صبح تا 6:00 بعد از ظهر</span></p>
                        </div>
                        <div class="single">
                            <p>شنبه: <span>8:00 صبح تا 6:00 بعد از ظهر</span></p>
                        </div>
                        <div class="single">
                            <p>یکشنبه: <span>سرویس بسته است</span></p>
                        </div>
                    </div>
                </div>
                <!-- single footer area wrapper -->
                <!-- single footer area wrapper -->
                <div class="single-footer-wized">
                    <h3 class="footer-title">فروشگاه های ما</h3>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">اطلاعات تحویل</a></li>
                            <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                            <li><a href="#">شرایط و ضوابط</a></li>
                            <li><a href="#">مرکز پشتیبانی</a></li>
                            <li><a href="#">مشاغل</a></li>
                        </ul>
                    </div>
                </div>
                <!-- single footer area wrapper -->
                <!-- single footer area wrapper -->
                <div class="single-footer-wized">
                    <h3 class="footer-title">دسته بندی های فروشگاه</h3>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">با ما تماس بگیرید</a></li>
                            <li><a href="#">اطلاعات</a></li>
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">مشاغل</a></li>
                            <li><a href="#">داستان های آشیانه</a></li>
                        </ul>
                    </div>
                </div>
                <!-- single footer area wrapper -->
                <!-- single footer area wrapper -->
                <div class="single-footer-wized">
                    <h3 class="footer-title">لینک های مفید</h3>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">لغو و بازگشت</a></li>
                            <li><a href="#">گزارش تخلف</a></li>
                            <li><a href="#">مبلغ پرداختی</a></li>
                            <li><a href="#">هزينه ارسال</a></li>
                            <li><a href="#">سوالات متداول</a></li>
                        </ul>
                    </div>
                </div>
                <!-- single footer area wrapper -->
                <!-- single footer area wrapper -->
                <div class="single-footer-wized">
                    <h3 class="footer-title">خبرنامه ما</h3>
                    <p class="disc-news-letter">
                        <br />
                        برای دریافت به&zwnj;روزرسانی&zwnj;ها از جمله ورودی&zwnj;های جدید و سایر تخفیف&zwnj;ها، در فهرست پستی مشترک شوید
                    </p>
                    <form class="footersubscribe-form" action="#">
                        <input type="email" placeholder="آدرس ایمیل شما" required="" />
                        <button class="rts-btn btn-primary">اشتراک</button>
                    </form>

                    <p class="dsic">
                        من می خواهم اخبار و پیشنهاد ویژه را دریافت کنم
                    </p>
                </div>
                <!-- single footer area wrapper -->
            </div>
            <div class="social-and-payment-area-wrapper">
                <div class="social-one-wrapper">
                    <span>ما را دنبال کنید:</span>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                {% comment %} <div class="payment-access">
                    <span>پرداخت می پذیرد:</span>
                    <img src="/static/assets/images/payment/01.png" alt="" />
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>