<nav>
    <ul class="parent-nav">
        <li>
            <a href="{% url "home_module:home-page" %}">صفحه اصلی</a>
        </li>
        <li>
            <a href="{% url "about_us_module:about-us" %}">درباره ما</a>
        </li>
        <li>
            <a href="{% url "contact_module:contact-us" %}">تماس با ما</a>
        </li>
        <li>
            <a href="{% url "product_module:products" %}">محصولات</a>
        </li>
        <li>
            <a href="{% url "blog_module:articles" %}">مقالات</a>
        </li>
        {% if request.user.is_superuser %}
            <li>
                <a href="/admin">ادمین</a>
            </li>
        {% endif %}
        {% comment %} <li>
            <a href="{% url "product_module:products-two" %}">محصولات2</a>
        </li> {% endcomment %}
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url "account_module:user-logout" %}">خروج</a>
        </li>
        <li>
            <a href="{% url "user_profile_module:user-profile" %}">حساب کاربری</a>
        </li>
        {% else %}
        <li>
            <a href="{% url "account_module:user-register" %}">ثبت نام</a>
        </li>
        <li>
            <a href="{% url "account_module:user-login" %}">ورود</a>
        </li>
        {% endif %}

        {% comment %} <li class="parent has-dropdown">
            <a class="nav-link" href="#">صفحه اصلی</a>
            <ul class="submenu">
                <li><a class="sub-b" href="index.html">صفحه اصلی یک</a></li>
                <li><a class="sub-b" href="index-two.html">صفحه اصلي دو</a></li>
                <li><a class="sub-b" href="index-three.html">صفحه اصلی سه</a></li>
                <li><a class="sub-b" href="index-four.html">صفحه اصلی چهار</a></li>
                <li><a class="sub-b" href="index-five.html">صفحه اصلی پنج</a></li>
            </ul>
        </li>
        <li class="parent"><a href="about.html">درباره</a></li>
        <li class="parent with-megamenu">
            <a href="#">فروشگاه</a>
            <div class="rts-megamenu">
                <div class="wrapper">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="megamenu-item-wrapper">
                                <!-- single item areas start -->
                                <div class="single-megamenu-wrapper">
                                    <p class="title">چیدمان فروشگاه</p>
                                    <ul>
                                        <li><a href="shop-grid-sidebar.html">فروشگاه گريد سايدبار</a></li>
                                        <li><a href="shop-list-sidebar.html">فروشگاه ليست سايدبار</a></li>
                                        <li><a href="shop-grid-top-filter.html">فروشگاه گريد فيلتر بالا</a></li>
                                        <li><a href="shop-list-top-filter.html">فروشگاه ليست فيلتر بالا</a></li>
                                    </ul>
                                </div>
                                <!-- single item areas end -->
                                <!-- single item areas start -->
                                <div class="single-megamenu-wrapper">
                                    <p class="title">جزئیات فروشگاه</p>
                                    <ul>
                                        <li><a class="sub-b" href="shop-details.html">جزئیات فروشگاه</a></li>
                                        <li><a class="sub-b" href="shop-details-2.html">جزئیات فروشگاه V2</a></li>
                                        <li><a class="sub-b" href="shop-details-left-sidebar.html">جزئیات فروشگاه V3</a></li>
                                        <li><a class="sub-b" href="shop-details-4.html">جزئیات فروشگاه V4</a></li>
                                    </ul>
                                </div>
                                <!-- single item areas end -->
                                <!-- single item areas start -->
                                <div class="single-megamenu-wrapper">
                                    <p class="title">مشخصات محصول</p>
                                    <ul>
                                        <li><a class="sub-b" href="shop-details-variable.html">محصول متغیر</a></li>
                                        <li><a class="sub-b" href="shop-details-affiliats.html">محصول وابسته</a></li>
                                        <li><a class="sub-b" href="shop-details-group.html">گروه جزئیات فروشگاه</a></li>
                                        <li><a class="sub-b" href="shop-compare.html">مقايسه محصول</a></li>
                                    </ul>
                                </div>
                                <!-- single item areas end -->
                                <!-- single item areas start -->
                                <div class="single-megamenu-wrapper">
                                    <p class="title">خرید دیگران</p>
                                    <ul>
                                        <li><a class="sub-b" href="cart.html">سبد خرید</a></li>
                                        <li><a class="sub-b" href="checkout.html">صورتحساب</a></li>
                                        <li><a class="sub-b" href="trackorder.html">پیگیری سفارش</a></li>
                                    </ul>
                                </div>
                                <!-- single item areas end -->
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <a href="shop-grid-sidebar.html" class="feature-add-megamenu-area">
                                <img src="/static/assets//images/feature/05.jpg" alt="ویژگی_محصول">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="parent has-dropdown">
            <a class="nav-link" href="#">فروشندگان</a>
            <ul class="submenu">
                <li><a class="sub-b" href="vendor-list.html">فروشنده ليست</a></li>
                <li><a class="sub-b" href="vendor-grid.html">فروشنده گريد</a></li>
                <li><a class="sub-b" href="vendor-details.html">جزئیات فروشنده</a></li>
            </ul>
        </li>
        <li class="parent has-dropdown">
            <a class="nav-link" href="#">صفحات</a>
            <ul class="submenu">
                <li><a class="sub-b" href="about.html">درباره</a></li>
                <li><a class="sub-b" href="store.html">فروشگاه</a></li>
                <li><a class="sub-b" href="faq.html">سوالات متداول</a></li>
                <li><a class="sub-b" href="invoice.html">صورتحساب</a></li>
                <li><a class="sub-b" href="contact.html">تماس</a></li>
                <li><a class="sub-b" href="register.html">ثبت نام</a></li>
                <li><a class="sub-b" href="login.html">وارد شدن</a></li>
                <li><a class="sub-b" href="privacy-policy.html">سیاست حفظ حریم خصوصی</a></li>
                <li><a class="sub-b" href="cookies-policy.html">خط مشی کوکی ها</a></li>
                <li><a class="sub-b" href="terms-condition.html">شرایط و ضوابط</a></li>
                <li><a class="sub-b" href="404.html">خطا</a></li>
            </ul>
        </li>
        <li class="parent has-dropdown">
            <a class="nav-link" href="#">وبلاگ</a>
            <ul class="submenu">
                <li><a class="sub-b" href="blog.html">وبلاگ</a></li>
                <li><a class="sub-b" href="blog-list-right-sidebar.html">وبلاگ سايدبار راست</a></li>
                <li><a class="sub-b" href="blog-list-left-sidebar.html">وبلاگ سايدبار چپ</a></li>
                <li><a class="sub-b" href="blog-details.html">جزئیات وبلاگ</a></li>
            </ul>
        </li>
        <li class="parent">
            <a href="contact.html">تماس</a>
        </li> {% endcomment %}
    </ul>
</nav>